[2016-08-27 18:32] kytrinyx opened #7 "Deprecate "problems" in config.json in favor of "exercises""
For the past three years, the ordering of exercises has been done based on gut feelings and wild guesses. Over time this has proven to work OK-ish, but it's not great. In order to have the ability to support a more structured and systematic approach to ordering problems, we're going to deprecate the simple array of problem slugs in the `config.json` file of each track, and start using a new format

[2016-11-07 20:38] kytrinyx opened #8 "Verify the presence of a test file"
@behrtam commented in https://github.com/exercism/xpython/pull/392:

We should actually read the `test_pattern` from the `config.json` file (defaulting to `/test/i` if `test_pattern` isn't defined) and verify this for each exercise.

[2016-12-16 19:25] kytrinyx opened #10 "Verify the presence of metadata files (description.md, metadata.yml) for all exercises"
If the directory (slug) of an exercise is misspelled, or if the exercise implementation gets merged before the metadata makes it into x-common, then some of the endpoints blow up.

A recent example (but certainly not the first!) is `sublist` which got added to the Swift track in https://github.com/exercism/xswift/pull/222 with the slug `sub-list`.

The endpoint http://x.exercism.io/problems lists

[2017-04-04 15:58] kytrinyx opened #11 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-05 17:06] kytrinyx commented on #11
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-05-04 00:45] hilary opened #12 "Allow tracks freedom to decide where example solutions should go"
## Background

Among the [improvements](https://github.com/exercism/xruby/issues/485) the ruby track is making to its generator is moving all the pieces of a generator under the exercise's `.meta` directory. We'd like to move the example solution there, too (under `.meta/solutions`. Our track logic now supports having the example solution in that location, but we can't move ahead because configlet

[2017-05-08 12:29] #12 closed

[2017-05-09 07:29] Insti opened #15 "Check for track specific metadata files."
Where tracks implement track specific problems, configlet should check that the metadata is valid (or at least exists).

Related: #10

See also: https://github.com/exercism/trackler/issues/45

[2017-05-09 07:31] Insti commented on #10
The list of valid problems probably doesn't change that frequently, so it should be possible to check against an included list of problems and only ask the api if an unknown problem is found.

[2017-05-09 19:20] kytrinyx commented on #15
The trick here is that we don't check for the validity of the problem slug at all at the moment. We should, but I don't much like the idea of relying on calls over the network, and configlet will need to talk to the API to get a list of the available problems. The only way we'll know it's track-specific is if the slug doesn't match a problem from the common pool.

[2017-05-09 19:22] kytrinyx commented on #10
Yeah, that's a good idea. It would be simple enough to generate a simple text list that can be included and easily updated. I like it.

[2017-06-10 20:44] kytrinyx opened #18 "Investigate: what would it look like to lint the JSON format of config.json?"
We want to normalize the JSON so that we can script changes to it without adding a lot of whitespace noise.

[2017-06-11 01:44] stkent commented on #7
@kytrinyx I believe this issue can be closed in light of https://github.com/exercism/configlet/pull/16.

[2017-06-11 02:07] kytrinyx commented on #7
Yepp! Thanks!

[2017-06-11 02:07] #7 closed

[2017-06-11 22:50] kytrinyx commented on #11
I don't think we need probot/stale on this.

[2017-06-11 22:50] #11 closed

[2017-07-18 10:20] robphoenix commented on #18
So far I've not found a JSON linter written in Go. I did wonder if we could just re-marshall the verified Config using `MarshallIndent`, see https://github.com/robphoenix/configlet/commit/de28dc124b10a462db3013799bf6d93b7505af1f, and then re-write the output back to file, but of course it wouldn't be included in the commit, would it? And it wouldn't output any response indicating whitespace incons

[2017-07-18 17:49] kytrinyx commented on #18
We could add a separate command to `configlet` that you can run locally before committing (kind of like `gofmt` but for `config.json`)

[2017-07-18 18:45] robphoenix commented on #18
That would work. Would it be run by maintainers every now and then, or suggested to contributors in track README's perhaps? I'll send a PR later this week, or would it better to wait for #23 (which I've been meaning to properly read through, having been wrestling with Cobra myself recently)

[2017-07-18 21:37] kytrinyx commented on #18
I think that if we use it, we should suggest that it be used by both contributors and maintainers whenever the config.json gets changed.

We should totally wait for #23 to land. I'm waiting on one last PR to be merged—all the 60+ other PRs that this one is relying on have been merged. I'll ping them (again).

[2017-07-20 16:01] robphoenix commented on #18
Grand, I'll familiarize myself with #23 and work on a PR to implement what I've outlined above.

[2017-07-21 20:20] nywilken commented on #8
@kytrinyx I would like to help out with this issue, if it hasn't already been taken.

I'm working through the code changes and reading the [doc](https://github.com/exercism/docs/blob/9df310839d0d7413aec5915d13758c15c6a3388d/language-tracks/configuration/README.md) to get an understanding of things. Please let me know if there are any other threads I should read through. Thanks.

[2017-07-21 20:52] kytrinyx commented on #8
@nywilken that would be great. I don't _think_ there's any more context you need than what is here, but if you get stuck or confused don't hesitate to ask.

[2017-07-21 21:18] nywilken commented on #8
@kytrinyx sounds good, thanks.

[2017-07-22 22:33] rpottsoh opened #27 "Print error message if problem-specifications is not found"
Present README.md looks like [this](https://github.com/exercism/delphi/blob/master/exercises/wordy/README.md).

New README.md looks like [this](https://github.com/rpottsoh/exercism-delphi/blob/configletWordyREADME/exercises/wordy/README.md).

Should all the information regarding the problem be removed from the resulting README.md file?  Is there something that I should change in [exercise_readme.g

[2017-07-23 00:24] kytrinyx commented on #27
It's missing the `problem-specifications` repository. Do you have that checked out locally?

The docs are here: https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/readmes.md

If problem-specifications is not checked out where expected, then you can specify exactly where with the flag `--spec-path`:

[code]

[2017-07-23 00:30] kytrinyx commented on #27
We should probably loud noises if configlet is trying to generate new READMEs without problem-specifications being checked out.

[2017-07-23 00:33] rpottsoh commented on #27
I have problem-specifications checked out, but configlet will never find it.  I'll try your suggestion.

Sent from my android device.

[2017-07-23 00:35] kytrinyx commented on #8
@nywilken I've sent you an invite to the Exercism organization. If/when you accept it, drop a line here so I can assign this issue to you.

[2017-07-23 00:39] kytrinyx commented on #10
A quick note: the metadata files might be within the `exercises/:slug/.meta/` directory, or they might be in the `problem-specifications` repository.

I changed the title of this issue—missing metadata files would catch typos, but it would also catch (literally) missing metadata files :)

If we're feeling particularly clever, we could even make suggestions... _did you mean X?_... if there are any

[2017-07-23 00:41] kytrinyx commented on #15
I've updated #10 such that it encompasses this issue as well. Closing this in favor of the other.

[2017-07-23 00:41] #15 closed

[2017-07-23 00:43] kytrinyx opened #28 "Update lint command: verify that each exercise has a UUID"
When verifying the `config.json` for a track, each exercise is expected to have a UUID.

If it does not, the command should output an error message that explains that exercise `$SLUG` does not have a UUID.

[2017-07-23 00:46] kytrinyx opened #29 "Update lint command: reject duplicate exercise UUIDs"
Copy/paste is probably the most common way of adding a new `exercise` in a track's `config.json` file. This means that we're in great danger of copy/pasted (and therefore duplicated) UUIDs.

If the `lint` command detects that more than one exercise have the same UUID, it should complain, mentioning which exercises.

It could also generate new UUID suggestions to make it easy to fix (one suggestion

[2017-07-23 01:03] kytrinyx opened #30 "Update lint command: verify UUIDs against all other tracks"
The UUIDs in a track must not collide with UUIDs in other tracks. In other words, the UUID for `clock` in Go must be distinct from the UUID for `clock` in Haskell. Or any other exercise, for that matter.

I've added a UUID verification service to the Exercism API

The `lint` command should call the UUID service with the expected payload, where `uuids` is an array containing all the exercise UUIDs

[2017-07-23 01:06] kytrinyx commented on #18
Alrighty, #23 has landed!

You should be able to generate a new command with `cobra`, e.g. `cobra add fmt`, which will add a new file `cmd/fmt.go`, which in turn creates a new command `configlet fmt`. (Delete all the extraneous comments, license annotations, etc, they're just a distraction).

[2017-07-23 01:32] rpottsoh commented on #27
Thanks @kytrinyx, specifying the path is what I needed.

[2017-07-23 03:26] kytrinyx commented on #10
Thinking more about this, I think that the best approach is to handle a `--spec-path` flag which tells configlet where the problem-specifications repository is checked out.

If there is no problem-specifications directory at the `spec-path` (e.g. in CI) we can `git clone --depth 1 https://github.com/exercism/problem-specifications.git` to that location.

[2017-07-23 11:36] nywilken commented on #8
@kytrinyx invite accepted, thanks.

[2017-07-23 15:37] kytrinyx commented on #8
Welcome ✨ 💛 🌻 💛 ✨

[2017-07-23 15:38] kytrinyx commented on #18
@robphoenix that sounds great, thank you!

[2017-07-25 16:58] nywilken commented on #8
@kytrinyx thanks for the encouraging welcome. I submitted PR #32, as a first pass, to address this issue. I left a few assumptions and remaining tasks in the comments of the PR. Looking forward to review.

[2017-07-25 22:49] kytrinyx commented on #8
Awesome, thanks so much for that!

[2017-07-27 08:48] robphoenix opened #33 "Possible graph/tree command"
@jonmcalder has done some [awesome work](https://github.com/exercism/discussions/issues/175#issuecomment-318243990) visualizing the graph of exercise dependencies in a `config.json`.

I wonder if it would be beneficial to add a graph command that could output something similar.

As Jon has used R it would have to be recreated in Go. I imagine this could be done by looping over the slice of `Exerci

[2017-07-27 13:03] kytrinyx commented on #33
I think this would be tremendously valuable.

[2017-07-27 14:06] robphoenix commented on #33
Reading @iHiD's [comment](https://github.com/exercism/discussions/issues/175#issuecomment-318368925) perhaps a simple terminal output similar to Linux's `tree` command might be better?

[code]

Would probably be easier to implement than what I've outlined above.

[2017-07-27 14:48] kytrinyx commented on #33
A tree-like view would probably be easier to implement—and I think it would probably be a good, understandable visual, as well.

[2017-07-27 14:59] robphoenix commented on #33
Okay, grand, I'll get on it.

[2017-07-28 03:50] nywilken commented on #28
I think that #28 and #29 can be treated as one. If we rephrase #28 so that it reads something like 'Update lint command: verify that each exercise has a unique UUID'. Thoughts?

[2017-07-28 06:40] kytrinyx commented on #28
We could, but the tasks are quite different from each other. One is a very quick, low-level check that is likely to catch the most common type of error (copy/paste within the same repository). The other requires a call across the wire.

If you want to tackle them, feel free to do so in a single PR.

[2017-07-28 13:33] nywilken commented on #28
Ah okay so the expectation for #28 is that when checking for missing UUIDs within a track it would hit the API for validation, is that correct?

If so that would imply that some how the config.json got corrupted (e.g the uuid for exercise Clock went missing) and that we should use the stored uuid returned from the API as the suggestion; otherwise if it truly doesn't exist, for the exercise, then s

[2017-07-28 20:59] kytrinyx commented on #28
I just realized I mis-remembered what 28 was about and didn't properly read-through before answering before. They're still different problems and should be reported separately.

That's great, go ahead and assign yourself to both.

I don't think we'll ever be missing UUIDs on existing/old exercises. I would expect people to forget to add a UUID when adding a new exercise.

If it gets deleted, then

[2017-07-29 17:26] kytrinyx opened #35 "Update lint command: verify the format of the maintainers file"
We've added a config/maintainers.json file: https://github.com/exercism/docs/blob/master/maintaining-a-track/maintainer-configuration.md

If the file is present, we should make sure that the JSON is valid.

[2017-07-31 01:59] nywilken commented on #8
Closed by #32

[2017-07-31 15:16] kytrinyx opened #39 "Update lint command: verify that core exercises are never unlocked by other exercises"
Per @jonmcalder's (fabulous) comment here: https://github.com/exercism/discussions/issues/175#issuecomment-319067625 we should probably do some linting for the track progression logic.

If an exercise is `core` it should not be `unlocked_by` another exercise.

[2017-08-04 12:16] tleen commented on #33
:laughing:  Now that we are actually starting to analyze the layout of the Go track I came here to suggest this as an option for configlet. A co-maintainer beat be to it!

Looks like configlet may be becoming a more general purpose config-analyzer. If so I believe another helpful view of config would be a listing (and count) of exercises by difficulty.

[2017-08-04 13:57] kytrinyx commented on #33
Yeah, Configlet is turning into our all-purpose track maintenance tool. Go ahead and open up the issue for the exercise list, and we can dig into the details of it.

[2017-08-04 15:23] nywilken commented on #28
@kytrinyx it doesn't seem like I have the ability to assign to myself. Can you please assign #28 and #29 to me, thanks.

[2017-08-04 15:35] jonmcalder opened #40 "Update lint command: check for blurb in config.json"
Based on the updates outlined in [discussions/173](https://github.com/exercism/discussions/issues/173), it seems as if the blurb in `config.json` will later be a required field (unless there is some fallback option?) and `configlet lint` should thus check for it.

[2017-08-04 15:41] tleen commented on #33
Will do. It may be a nice option in the tree view to have the difficulty next to the exercise:

[code]

[2017-08-04 15:45] kytrinyx commented on #40
Yeah, the blurb is required. I don't think we can provide a good default for this one.

[2017-08-04 15:55] tleen opened #41 "Possible difficulty listing command"
Having just gone through the config file for the Go track I thought it would be helpful to have a way to list the config by difficulty rating. Some way to get a sense of the distribution of difficulty.

Something along the lines of:

[code]

[2017-08-04 16:38] jonmcalder commented on #40
The only (remotely) decent possibility as a fallback option might be a regular expression to extract the first sentence (or 2) from `ABOUT.md`. Not great though, so better to make it required.

[2017-08-04 19:03] robphoenix commented on #33
This is a great idea @tleen!

[2017-08-04 20:55] kytrinyx commented on #40
Yeah, I really want to be super-duper careful about making the blurbs well-crafted.

Maybe we can have an `@exercism/copywriting` team of volunteers who are willing to help craft the docs and the track-specific copy, including getting extra eyes on maintainer bios and things.

[2017-08-04 22:18] kytrinyx commented on #28
Done! I've also created a specific team for configlet and added you and @robphoenix to it. You both have push access, and can assign things to yourselves.

[2017-08-04 23:45] nywilken commented on #28
Awesome, thank you. Working with this project has been such a great experience 🎉

[2017-08-05 02:56] kytrinyx commented on #28
It's so lovely to have you along!

[2017-08-05 19:15] robphoenix commented on #28
Oh cool, thanks! It's been so good having a proper back and forth review on my code for the `fmt` PR, really appreciate both of your time & effort.

[2017-08-05 19:34] kytrinyx commented on #28
There's something magical, I find, about having three people who are all knee-deep in making something better.

With two it can be great, but there's always a time when someone's away or their head is in a different place and it's hard to think properly about whatever the other one is proposing.

But with three, suddenly everyone is catching different things, and the ideas bounce off each other, a

[2017-08-07 14:06] rpottsoh commented on #8
Looks like this should have closed when #32 was merged.

[2017-08-07 14:14] #8 closed

[2017-08-07 14:15] rpottsoh opened #42 ""help lint" response should be updated."
Present output of Configlet to command `help lint` as v3.2.0.
[code]
As of v3.2.0 `lint` is now verifying that `config/maintainers.json` is valid JSON.  Should the help response from configlet convey this?
[code]

[2017-08-07 14:39] kytrinyx commented on #42
It sure should!

[2017-08-08 09:11] robphoenix commented on #42
I'll fix this today unless either of you have already started?
https://github.com/exercism/configlet/pull/45/commits/605c03c19d67b66be87e9ffdb8c0cc8ab894633c is overriding part of the above help output, so I want to make sure that's doing what it should be doing, and that it's the best way.

[2017-08-08 09:53] robphoenix commented on #40
As the lint command wouldn't necessarily be able to make any judgement calls on the quality/validity of the blurb, would it instead check to ensure the blurb is not an empty string, and no longer than N characters? Or would there be more to it?

[2017-08-08 09:57] robphoenix commented on #35
Is this closed by https://github.com/exercism/configlet/commit/7c4c2e87b7618df2675d5a10782647ac122e12ae?

[2017-08-08 10:00] robphoenix commented on #39
Also from https://github.com/exercism/r/commit/f1decd2996a170386a075e323d9cbd6dce7e5b31 this should check that all exercises are unlocked by a valid exercise, though it wouldn't necessarily need to be core.

[2017-08-08 14:10] kytrinyx commented on #35
Whoops. Yes, it is. Thanks :)

[2017-08-08 14:10] #35 closed

[2017-08-08 14:12] kytrinyx commented on #40
Yepp, that's exactly what I was thinking. We might add a bot to ping the hypothetical copywriting team when the blurb or docs change, but for the linter, just the presence of it and within limits. We need to figure out what those limits are. @iHiD 30-ish words... are we operating with standard morse word length of "PARIS" (five characters, the actual duration of each letter obviously doesn't matte

[2017-08-08 15:01] #42 closed

[2017-08-15 10:37] #18 closed

[2017-08-16 23:17] kytrinyx opened #50 "Make sure the lint command compiles all regexp patterns in track config"
I haven't checked this—knee deep in some other stuff. Just want to write it down so it doesn't get lost.

The track config has several pattern fields:

- ignore_pattern
- test_pattern
- solution_pattern

We need to make sure these all compile as a regexp.

We probably need a test that checks that it's valid ruby regexp, too, so the backend doesn't blow up. Not sure how to do that.

[2017-08-17 12:13] nywilken commented on #50
Thanks for opening this up. Solution and Test patterns are validated implicitly via the solution and test suite checks. But maybe we can have a check - not sure what to call just yet - within the lint command to verify that all regexp patterns compile (validate).

As for validating if they will compile in Ruby, without calling out to Ruby that may be a little tricky. Is the Ruby project that works

[2017-08-17 12:41] stkent opened #51 "generate command help text doesn't indicate how to target a single exercise"
Current output:

[code]

[2017-08-17 13:26] kytrinyx commented on #51
Dang. OK, documenting it here so we can update the usage:

[code]

We can also specify where to find the problem specification directory:

[code]

[2017-08-17 13:27] kytrinyx commented on #50
That's handy. Worst case we can use that.

Travis always has Ruby installed, I think, so we could create a small verification tool in Ruby. It wouldn't need to be more than a handful of lines long.

[2017-08-17 13:58] robphoenix commented on #51
I'll fix this now.

[2017-08-17 14:37] stkent commented on #51
Nice, thanks, I was missing the path to track when I was trying to use the `--only` flag 😆

[2017-08-17 15:14] #51 closed

[2017-08-17 23:01] kytrinyx opened #56 "TODO: trawl through issue to make sure we have open issues for each problem"
https://github.com/exercism/swift/issues/292

I think we have open issues for a number of these things, but we need to make sure. I'm in the middle of a bunch of things, and just need to write this down so it doesn't get lost.

[2017-08-18 21:33] nywilken commented on #50
I like that idea.

[2017-08-20 13:28] #27 closed

[2017-08-20 17:59] stkent opened #58 "How soon should regeneration of READMEs pick up upstream changes?"
This PR was merged a few days ago:

https://github.com/exercism/problem-specifications/pull/880

I used configlet 3.3.0 to regenerate the `space-age` README in the Kotlin track today. The new content from the PR referenced above was not included in the newly-generated README. (There was a whitespace change, so I know that regeneration happened).

Am I misunderstanding how configlet sources copy fo

[2017-08-20 19:13] kytrinyx commented on #58
Was the problem-specifications repo that you had locally up to date with the upstream?

[2017-08-20 19:30] stkent commented on #58
It was not. Does that copy have to be in a special location relative to the track directory, or do I pass a path to problem-specifications somehow?

[2017-08-20 19:50] nywilken commented on #58
Configlet expects the problem-specifications directory to be in the same root directory as the track directory. For example:

[code]

Or you can use the` --spec-path` flag to specify a custom path location for the problem specifications directory.

[2017-08-20 19:58] stkent commented on #58
Perfect, thanks!

[2017-08-20 20:17] kytrinyx commented on #58
@stkent when you figure this out, would you mind updating the docs to encode the bits that weren't clear? https://github.com/exercism/docs/blob/master/maintaining-a-track/regenerating-exercise-readmes.md

[2017-08-20 20:18] kytrinyx commented on #58
Actually: https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/readmes.md is probably better.

[2017-08-20 20:19] nywilken commented on #58
Sweet,  I'll leave the issue open for a little in case you have any further questions. Otherwise, feel free to close the issue if everything is squared away.

[2017-08-20 20:35] stkent commented on #58
https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/readmes.md looks perfectly clear, I just have trouble finding the right place within the docs apparently!

[2017-08-20 22:25] kytrinyx commented on #58
This is not your fault. I need to figure out how to organize the docs and provide an overview.

[2017-08-22 11:46] tleen opened #60 "Topic formatting"
Update fmt to [lowercase/underscoreize topics](https://github.com/exercism/meta/issues/83).

[2017-08-22 11:51] robphoenix commented on #60
It's a fix [here](https://github.com/exercism/configlet/blob/master/cmd/fmt.go#L146) (once https://github.com/exercism/meta/issues/83 is finalised)

[2017-08-22 20:08] kytrinyx opened #61 "lint: verify that exercises are only ever unlocked by core exercises."
Per https://github.com/exercism/v2-feedback/issues/61#issuecomment-324130763

If an exercise is `unlocked_by` another, we should make sure that the exercise it depends on is a core exercise.

[2017-08-22 23:15] masters3d opened #62 "lint: Verify Snippet file is will display correctly"
It would be great if there was a way to check that each track's
`docs/SNIPPET.txt` was 10 lines or less and that the lines were <=40 chars per line.

https://github.com/exercism/objective-c/pull/178

[2017-08-22 23:16] kytrinyx commented on #62
I'd suggest doing this with a `--warn` flag rather than actually failing the build.

[2017-08-27 19:57] nywilken commented on #50
@kytrinyx, as I'm working on wiring up configlet to the UUID API service it occurred to me that we could possibly do something similar to #30 for validating the regex patterns since the Exercism API is a Ruby backend.

The functionality for running configlet would be the same, the --no-http flag would skip the extra regex check; the Regex API endpoint would take in a list of patterns, with the pro

[2017-08-29 23:57] tleen opened #65 "generate: <track>/<exercise>/.meta/description.md not replacing Spec.description"
Not sure I understand the instructions entirely via the docs's [README readme](https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/readmes.md).

Under "Description":

I can't seem to get configlet to override the specification description using a `.meta/description.md` file inside of a track exercise. `.meta/hints.md` is included no problem. I am using configlet v3.4.0.

[2017-08-30 01:40] nywilken commented on #65
@tleen the supported override path for `.meta/description.md` is within the root directory of an exercise `e.g /numbers/exercises/two/.meta`.

Is this the path convention you are using? If so, it may be a bug on the configlet end. Looking at the configlet code I see what might be an issue, but I need to verify.

Could you provide the command you are running including the flags,if any, along with a

[2017-08-30 02:26] tleen commented on #65
I have my [problem-specifications fork](https://github.com/tleen/problem-specifications), as a peer with my [fork of the go track](https://github.com/tleen/xgo) in a directory. Both are at current master.

In my xgo directory I do this:

[code]

I would have figured "THIS IS A DESCRIPTION INSERT" would have replaced the entire top of the file, but it only looks like the `hints.md` made it into the

[2017-08-30 03:14] nywilken commented on #65
Thanks for the detailed reproduction steps. So looking at the problem I see that configlet is throwing an error because it can not find the file `~/exercism/xgo/exercises/largest-series-product/.meta/metadata.yml`, which causes it to default to the contents within the problem-specifications directory.

The hints override works because it is handled differently then the spec description. This is a

[2017-08-30 03:56] kytrinyx commented on #65
I've made the assumption that if you override one of the metadata files, you override both. I can see now that this was not a particularly good assumption :)

On a secondary note, I'm going to update the documentation to not encourage people to put things directly into the README, since v2 uses the metadata and description files in various places, and we would lose any overrides.

[2017-08-30 10:09] robphoenix opened #66 "Implement a UI printer"
Currently error messages are printed to stdout/stderr with a `-> ` prefix, which is individually included in each `print` call. As suggested by @nywilken [here](https://github.com/exercism/configlet/pull/64#discussion_r135339064) we should offload this to a separate UI printer mechanism.

[2017-08-30 11:47] tleen commented on #65
@nywilken you nailed it :+1: . Copying in the `problem-specification/exercises/largest-series-product/metadata.yml` into the `xgo/exercises/largest-series-product/metadata.yml` then re-running the configlet generate did fix the problem.

In most situations where I see tweaking the README contents via the `.meta/description.md` file would not need any modifications to the `metadata.yml`. It is most

[2017-09-01 14:16] kytrinyx commented on #50
@nywilken that's a great idea. Let's do that. If you write the functionality with httptest stubbing out the API then we can figure out what the payload should look like and we can very quickly implement the service in the ruby backend.

[2017-09-01 18:18] kytrinyx commented on #65
Agreed—for some reason I think I started out thinking about local metadata as something you'd only do when people create a track-specific exercise. Then at some point I realized that this would make it easy to override the description where appropriate, and my brain never connected the dots.

[2017-09-03 21:20] nywilken commented on #50
Sweet, that sounds like a plan. I'll ping once the PR is ready.

[2017-09-04 11:47] #28 closed

[2017-09-04 11:47] #29 closed

[2017-09-05 15:09] robphoenix commented on #60
closed by #63

[2017-09-05 15:09] #60 closed

[2017-09-05 15:14] robphoenix opened #69 "Review release process"
The current release process is documented [here](https://github.com/exercism/configlet/blob/master/CONTRIBUTING.md#cutting-a-release).

There are a few tools we could consider for improving this process:
* [gox](https://github.com/mitchellh/gox)
* [ghr](https://github.com/tcnksm/ghr)
* [goreleaser](https://github.com/goreleaser/goreleaser)

And potentially integrate with Travis:
* [Automatically B

[2017-09-05 15:19] robphoenix opened #70 "Include a Changelog"
@kytrinyx [here](https://github.com/exercism/configlet/pull/68#issue-255102362)

[Why include a changelog?](http://keepachangelog.com/en/1.0.0/)

Tools to consider:

* [Github-Changelog-Generator](https://github.com/skywinder/Github-Changelog-Generator)
* [conventional-changelog-cli](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-cli)

[2017-09-05 15:54] kytrinyx commented on #70
I really like the format of the one we have for the CLI: https://github.com/exercism/cli/blob/master/CHANGELOG.md

In particular, I don't include all PRs / commits, only the ones that actually affect people. Also I like that it links to the PR and the human who made the change.

[2017-09-05 16:24] robphoenix commented on #70
Yeah, I totally agree. ~~Is that handcrafted?~~ [Ah, I see it is](https://github.com/exercism/cli/blob/master/RELEASE.md#update-the-changelog)
Well, maybe we start in a similar way until we find/build a tool suitable for both cli & configlet.

Is it a problem if it doesn't (at least inititally) cover the entire history of the tool?

[2017-09-08 20:48] kytrinyx commented on #70
No, I think it's totally fine to start where we are.

[2017-09-11 17:41] robphoenix opened #75 "lint alumnus key in maintainers file"
https://github.com/exercism/v2-feedback/issues/81 has suggested the `alumnus` key in the maintainers.json file be changed to be either `null` or one of 3 values: ("alumnum", "alumnus", "alumna").

We should probably lint this to ensure only these values are used.

[2017-09-13 19:14] #70 closed

[2017-09-14 02:51] #30 closed

[2017-09-14 06:47] petertseng opened #76 "README generation: Sometimes we'd like different capitalisation of the title"
My current example is the README of rna-transcription. The generator writes the title as "Rna Transcription", but it would be better if it were "RNA Transcription" instead. But how do we tell the generator that? I don't have a good solution.

Possible exercises that would benefit: DOT DSL, ETL, OCR Numbers, POV, RNA Transcription, SGF Parsing

Related that should probably go in a different issue:

[2017-09-14 23:51] nywilken commented on #76
@petertseng have you tried overwriting the readme template for the exercises whose titles you want to preserve; and replacing `{{ .Spec.Name }}` with the actual title

More information on using custom metadata paths can be found at  https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/readmes.md

[2017-09-14 23:52] nywilken commented on #76
@petertseng I believe  you may be able to solve this issue by overwriting the readme template for the exercises whose titles you want to preserve; replacing `{{ .Spec.Name }}` with the actual title

More information on using custom metadata paths can be found at  https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/readmes.md

[2017-09-14 23:56] petertseng commented on #76
I don't like asking every track that has these exercises to do that.

[2017-09-14 23:59] petertseng commented on #76
that was the selfless answer, and now I also present the the selfish answer: I personally don't want to maintain those extra templates. I want as few custom templates as possible.

[2017-09-15 00:26] nywilken commented on #76
I completely understand your line of thinking. In fact, as I was writing my comment I thought to myself that this is probably not a feasible solution given the amount of maintenance involved. So thanks for the feedback.

I have a few ideas, but for reproducibility purposes they rely on having the preferred title stored in some configuration (friendly title with the proper casing). As titles are cu

[2017-09-15 01:04] petertseng commented on #76
I think that does make the most sense, as I don't think any track would choose to instead display "Rna Transcription" by default rather than "RNA Transcription".

Yes, as just one idea (I haven't thought about others yet) it could be that the preferred title would be stored in e.g. https://github.com/exercism/problem-specifications/blob/master/exercises/rna-transcription/metadata.yml, say in a lin

[2017-09-15 21:26] petertseng opened #77 "configlet lint: should it exit non-zero if config.json is unparseable as JSON? (it currently exits zero)"
https://github.com/exercism/ceylon/pull/50 introduces obviously invalid JSON in config.json (missing comma between properties of an object, and an unclosed opening brace)

In the build, https://travis-ci.org/exercism/ceylon/builds/276065890 we can see

[code]

configlet has correctly determined that the file is invalid JSON. But then it exits zero. Should it be nonzero instead, so we can be assure

[2017-09-15 21:33] petertseng commented on #77
EBWODP:

It would be helpful for CI if we can be assured this is the case.

[2017-09-15 21:54] petertseng commented on #76
This is a little scary. Is this an operation that is supported? I have not heard of it, but I will check right now...

[code]

I had no idea a track was doing this, but all right, so there exists a track that does do so.

So, I won't try to comment on what happens on the configlet side, but if the problem is tractable on the configlet side, then I'm down to add a `title` field. Luckily the three m

[2017-09-15 22:21] nywilken commented on #77
Yes, the issue is on [#L55](https://github.com/exercism/configlet/blob/b4a06de9313ee3f1310b730f8c69f6ea11d6455a/cmd/lint.go#L55)

Thanks for reporting.

[2017-09-18 11:44] #66 closed

[2017-09-19 00:22] nywilken commented on #10
I believe this is issue has been addressed, but want to confirm before closing.

[2017-09-19 17:40] nywilken commented on #65
@kytrinyx @tleen I started working on fixing this issue, but I think I might've taken the wrong path.

Currently, the file `metadata.yml` is required for overwriting the readme description, which is what I started to enforce after reading

But I think I might have misunderstood that sentence  and should actually be decoupling description.md from metadata.yml, to behave more like hints.md.

Can I g

[2017-09-19 17:49] tleen commented on #65
I generally expected that if there was a `description.md` file in the exercise meta it would be placed in the `{{ .Spec.Description -}}` value of the template, independently of any other files in there.

[2017-09-19 18:34] nywilken commented on #65
@tleen thanks for the quick response - very helpful. I'll refactor the solution and give things a test.

[2017-09-21 12:24] kytrinyx commented on #65
Agreed, these should be decoupled. It was my bad assumption that coupled them in the first place.

[2017-09-22 00:51] nywilken commented on #65
👍  I should have a PR out shortly for review - been a little behind on commits. But definitely thanks for clarifying.

[2017-09-22 00:55] #77 closed

[2017-09-22 01:58] petertseng commented on #77
Thanks. Consider me a subscriber for knowing when it gets released too (important so I know when I can stop manually verifying a submitted config.json is valid JSON)

[2017-09-22 02:09] nywilken commented on #77
@petertseng thanks again for your help and patience. I'm going to loop in @robphoenix & @kytrinyx  in case they have a little bandwidth to cut a release. Otherwise, I should be able to cut a release on Friday.

[2017-09-22 02:32] petertseng commented on #77
Also, in case my comment took on too much of a hellfire-and-brimstone tone...

I will admit knowing that I was less-than-optimally helpful (optimally helpful = provide the patch to the problem rather than just reporting it), and so I hope you know I thank you for doing the favour of patching it in my stead.

For the release process, in contrast, I now have no power to be helpful, so in this case I

[2017-09-22 02:48] petertseng commented on #76
I think (and also taking into consideration what's happening in #65) it can remain an all-or-nothing thing. If a track has a metadata.yml file, all its keys get used, including the presence or absence of a `title:` in the track-specific metadata.yml file, and the file in problem-speifications doesn't need to be read. If the track does not have one, then all the keys take on the values of those in

[2017-09-22 22:08] nywilken commented on #76
@petertseng it makes sense.  I have a working example of what you described https://github.com/nywilken/exer-configlet/commit/c18a0131f7793660854262ee3cd970a1ca698f1c

But I stopped short because I have a few unanswered questions:
1. For consistency, would trackler and the website need to change? But it looks like you have that covered.
2. Do any of the exercises rely on Spec.Name for anything out

[2017-09-23 11:56] nywilken commented on #77
Not at all. I understand where you're coming from and, to be honest, I didn't think too much into the tone of the comment.

I'm glad to help, and I really do appreciate your help and attention to details when it comes to reporting and validating issues - its super helpful.

If you can do me the favour in testing the [latest release](https://github.com/exercism/configlet/releases/tag/v3.5.1), we ca

[2017-09-23 14:25] icyrockcom opened #80 "lint: duplicateTrackUUID check fails if the repository name is not correct"
I have a fork of the purescript track, but I still have the old repository name:

https://github.com/icyrockcom/xpurescript

Looks like the track ID is determined based on the repository folder name:

https://github.com/exercism/configlet/blob/master/track/track.go#L27

In a sample build in my personal travis build setup:

https://travis-ci.org/icyrockcom/xpurescript/builds/278841675

the linter f

[2017-09-23 18:54] petertseng commented on #77
This I am glad to do. Now if I look at https://travis-ci.org/exercism/ceylon/builds/279014098, I see:

[code]

and that, as a result, the build was declared a failure.

And this is what we wanted to happen. Thanks!

[2017-09-24 19:45] kytrinyx commented on #75
If someone wants to pick this one up, the key place to start is the `cmd/lint.go` file, with the corresponding tests in `cmd/lint_test.go`. Holler if you have questions (all questions are good, because then we can fix our documentation so the next person doesn't have to wonder about the same thing).

[2017-09-24 20:04] kytrinyx commented on #76
I'm late to the party here, but I agree on your proposed tactic of adding a `title` property to the `metadata.yml`.

If the title is empty, we should default the title to `Spec.Name` in the logic for `Spec` (the templates shouldn't have to know about it).

In terms of overriding the problem-specification's `metadata.yml`, I think that any field in `metadata.yml` can be overridden. A plus would be

[2017-09-24 20:10] kytrinyx commented on #10
Yepp, I checked everything before we released.

[2017-09-24 20:10] #10 closed

[2017-09-24 20:14] kytrinyx commented on #80
This is a good point, thank you.

Yeah, we've run into that a couple of times with language contributors who also contribute to Exercism tracks.

I removed the track ID from the config.json since it wasn't being used anywhere on the site or by the tools, but this is a valid use case, and I think that having the track ID in the config is the cleanest solution.

I can script this up to submit the ch

[2017-09-25 01:21] dkinzer opened #82 "generate throws illegal number syntax: "-"."
I used a version configlet which I compiled locally on the v3.5.1 tag on a Mac that is running EL Capitan OSX.

Anyway, when I tried to generate a readme for the ruby/palindrome-products exercise (exercism/ruby#728, I got the following error:

[code]

I was able to bypass this error by updating the ruby track template: exercism/ruby#727, and removing `-` from that file.

I don't know if the issue

[2017-09-25 02:48] kytrinyx commented on #82
@dkinzer thanks for reporting this. 🌷

I've done the same. I've got v3.5.1 of Configlet, and I updated both `problem-specifications` and the `ruby` repository to the latest master.

When I run the command below, it succeeds in generating the README. (My problem-specifications is not in the default location, so it's safe to ignore that difference).

[code]

I wonder what is causing this.

Which ver

[2017-09-25 03:05] dkinzer commented on #82
Ah, that was it.  I was using go1.5.  After updating and recompiling I do not get errors.  Thanks!

[2017-09-25 03:05] #82 closed

[2017-09-25 03:19] kytrinyx commented on #82
Oooh! Yeah 1.5 is pretty old. We support 1.8, 1.9, and "tip"

Thanks for helping get this sorted so quickly! 💙

[2017-09-27 23:27] icyrockcom commented on #80
Ah, I did not know it was there in the first place :) OK, cool, it'll be easy for me to test it out afterwards.

[2017-10-01 20:35] masters3d opened #86 "Lint: new excersices should have readme"
My understanding is that an implementation of a new excersice should also have a copy of the readme spec added to the repo.

[2017-10-02 01:20] #58 closed

[2017-10-03 15:47] kytrinyx commented on #80
@robphoenix @nywilken there are a couple of ways of doing this. We could either provide the track ID in all the config.json files, or we could update the commands to take a `--track-id` flag (optional, default to the directory name), and update the tracks to use that.

Thoughts? Preferences?

[2017-10-04 15:00] robphoenix commented on #80
I've run into this myself, having the Go track forked to `robphoenix/exercism-go`.

I think I'd prefer to see the track id in the config.json files, I'd rather not expect users to have to type `configlet lint . --track-id=go`.
I realise this could be more effort as it means updating all track config,json files. It could be beneficial to add the `--track-id` flag anyway as well, this would be an ea

[2017-10-04 15:05] Insti commented on #80
👍

[2017-10-04 15:36] rpottsoh commented on #80
@robphoenix said:

My fork for Delphi is named similarly as you did for Go.

I have been dealing with this issue, in silence.  Finally got fed up and came looking around here to see if anyone else was experiencing this.   Glad to see that a fix is on the horizon.  :tada:

Questions:

1.  Is the error message reported by configlet, regarding the UUID(s), accurate in this circumstance?
1.  If config

[2017-10-04 19:35] nywilken commented on #80
I think having track ID in the config.json would be the ideal solution. As @robphoenix pointed requiring the user to set the track at run time would be a bit much to ask. Especially, for new contributors using configlet for the first time. The UUID validation service will display errors if you give the wrong track id, which may lead to more confusion.

With that said, @robphoenix I see you impleme

[2017-10-06 14:36] tleen opened #91 "Update our own README"
[yo dawg](http://knowyourmeme.com/memes/xzibit-yo-dawg) I heard you like READMEs....

We should probably update our own README to include info on generating READMEs with the configlet tool. I have an outline in the Go track [README](https://github.com/exercism/go#exercism-go-style) that I generated with configlet's README `generate`. We could start with that?

Happy to do this once I get `tree` do

[2017-10-06 14:39] tleen opened #92 "Update repo description?"
It may be good to update this repo's description: "Simple verification tool for exercism problem configuration", the tool has become multifaceted. Something more along the lines of "Tool to assist in managing exercism tracks"?

[2017-10-07 11:50] m-a-ge commented on #91
That would be awesome to have this section

[2017-10-07 15:28] kytrinyx commented on #92
Yeah that sounds good. I like

I'm changing it now, but if through discussion we decide that we want something else, it's no big deal to update it again.

[2017-10-07 15:28] kytrinyx commented on #92
If you are all happy with the new description, go ahead and close this :-)

[2017-10-07 15:50] #92 closed

[2017-10-07 16:54] kytrinyx commented on #91
w00op. Yes, let's have more readmes in our readme!

[2017-10-07 16:56] kytrinyx commented on #80
Agreed. Suspenders _and_ a belt. Let's do it.

[2017-10-08 13:08] #76 closed

[2017-10-08 14:52] #33 closed

[2017-10-12 06:36] tleen opened #94 "generate: Add deprecated files warning"
It may be a good idea in the `generate` command to output a warning if a track is using the deprecated locations of the `exercise-readme-insert.md` or `hints.md` files.

[2017-10-12 09:05] NobbZ opened #96 "lint: exercise is not core and has no parents"
An exercise should either be `"core": true` or there should be a `"unlocked_by": ...` present.

Curently a `"core": false` without an `"unlocked_by"` will pass configlets checks and accepted as a fine exercise.

For v1 this doesn't make any difference, but for v2 such an exercise will either mess up the interface or not be accessible, therefore we should avoid such constellations before it is to l

[2017-10-12 09:06] NobbZ commented on #96
As an example you can take a look at PR exercism/bash#93.

[2017-10-12 17:03] tleen commented on #96
@NobbZ is a missing "unlocked_by" more or less the same as a `null` "unlocked_by"? (I guess technically it's undefined, but also *falsey*). In which case doesn't that define an exercise as a bonus exercise?

[code]

[2017-10-12 17:53] kytrinyx commented on #96
@tleen @NobbZ yes, these are considered bonus exercises, and are available in v2 as soon as the person submits their first core exercise.

[2017-10-12 18:44] NobbZ commented on #96
Ah, I missed that… So a missing (or `null`) `"unlocked_by"` implies to be unlocked by first core… Including `hello-world` or the first after that?

Why not beeing explicit?

Intuitively, I'd consider something that hasn't an unlocked_by field as not unlockable…

[2017-10-12 19:18] kytrinyx commented on #96
It's not unlocked by completing the first core, it's unlocked by starting the track (actually submitting your first iteration of something on the track). It's so that people don't get stuck with nothing to do when waiting for their first feedback.

[2017-10-12 19:36] NobbZ commented on #96
Ah, okay, I think I understand.

[2017-10-12 19:36] #96 closed

[2017-10-12 20:43] Insti commented on #96
This should probably be documented.

[2017-10-13 04:08] nywilken commented on #94
Any idea on how many tracks are using the deprecated file locations?

I like the idea of showing a deprecation warning. I think we should also consider dropping support for those locations in the near future; maybe define a process for feature removal (e.g deprecation warning, followed by full removal after x.y.z version).

Would it be too much to have the warning contain a link to some deprecatio

[2017-10-13 10:08] tleen commented on #94
We could add a deprecation section to the README?

If we do end up adding this warning it may be a good idea to add a PrintWarning method in [ui.printer](https://github.com/exercism/configlet/blob/d70ea0c9fff934fbc8e942a4f4ae5000f3514a53/ui/printer.go)?
 Perhaps even a PrintDeprecation and have that link to the docs? We would potentially be issuing warnings in two places, here and in the tree comm

[2017-10-13 14:23] kytrinyx commented on #94
I could write a script to submit PRs

[2017-10-13 15:13] #91 closed

[2017-10-13 18:29] tleen commented on #86
This seems to be related to the discussion over in exercism/discussions#200. The overall trend seems to be if README's are in fact a requirement for all exercises they should be part of the `lint` command.

[2017-10-14 00:23] #65 closed

[2017-10-15 23:05] petertseng opened #99 "configlet lint: Should it check whether UUIDs are valid?"
What does valid mean? Is it the standard `xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx` where each x is a hexadecimal digit?

If so, would it be good for configlet to check for invalid UUIDs? If whatever is using those UUIDs is expecting them all to be valid, it might be needed.

[code]

[2017-10-15 23:10] petertseng commented on #99
EBWODP:

Deleting "if so" because whether this is a good isn't dependent on what valid means. Replace with:

Whatever "valid" means in the Exercism context,

[2017-10-15 23:54] ferhatelmas commented on #99
@petertseng I am happy it's brought up because I had seen it while doing https://github.com/exercism/go/pull/894 but waited for input from others since I was away for sometime and I might be missing something.

Also, created this issue in UUID dependency: https://github.com/mattetti/uuid/issues/2

[2017-10-16 09:06] NobbZ opened #100 "lint: invalid UUIDs seem to pass"
In exercism/haskell#601 there has been an invalid UUID introduced into the JSON:

[code]

You see the ``g`` beginning the last group? As far as I understand wikipedia, it should be hexadecimal notation, and therefore only ``0-9`` and ``a-f`` are allowed.

[2017-10-16 14:14] nywilken commented on #99
@petertseng @ferhatelmas the concept of a UUID is fairly new, at least the support of it within Configlet. In fact, the lint command only checks for a non-empty UUID and uniqueness across exercises and tracks. Seeing as configlet is the first line of defense for any track changes, I think validating UUIDs should be part of Configlet. But I will defer to anyone on the team who may have more insight

[2017-10-16 16:20] nywilken commented on #100
@NobbZ thanks for opening this issue. It looks like it directly relates to #99

Do you mind if I close this issue and track it with #99 ?

[2017-10-16 20:41] NobbZ commented on #100
No, it is not a problem for me…

Duplicate of #99

[2017-10-16 20:41] #100 closed

[2017-10-16 21:04] NobbZ commented on #99
I think formal validity of an UUID should be checked before even asking upstream for duplicates… Of course the API server should check again ;) We know this already from web forms ;)

Since I already copied from wikipedia, a the canonical representation is written with 32 hexadecimal digits, grouped with a rythm of 8-4-4-4-12, therefore a quick and dirty check in configlet could be to match agains

[2017-10-16 21:29] nywilken commented on #99
Agreed.

[2017-10-17 00:34] ferhatelmas commented on #99
https://godoc.org/github.com/satori/go.uuid might be a good option.

[2017-10-17 07:41] NobbZ commented on #99
At least the documentation looks good.

I've looked at the currently used UUID generator and its in fact only capable of generating UUIDv4 (randomly generated). And has no option to read or verify UUIDs.

As a matter of fact, I'd suggest **not** to use plain UUIDv4. I'd generate a single UUID using v1 or v4 by @kytrinyx as a base. We could use this to namespace UUIDv3/v5 per track and then use the

[2017-10-18 13:22] tleen commented on #99
Are we seeing UUID clashing as an issue here? Lint will check for a clash although if using the `uuid` command to generate the chances of having a clash are remote. Most likely it would come in from a copy/paste type action. At which point a new one can be generated. Because @NobbZ is right, if we get two in a row we have bigger problems :smile:

I'm not sure what we use the UUID for in `nexterism

[2017-10-19 14:34] tleen commented on #99
The [uuid generating library](https://github.com/mattetti/uuid) is just plain broken it seems (and perhaps abandoned). If we are going by the strict definition of UUID the final group is too long and the library's own tests do not catch it. We should move to a more robust option like the one @ferhatelmas suggested or [google/uuid](https://github.com/google/uuid)?

[2017-10-20 14:52] nywilken commented on #80
@icyrockcom the latest release of [configlet](https://github.com/exercism/configlet/releases/tag/v3.6.0) has support for a new `--track-id` flag that can be passed to the lint command, which should remedy this issue for now. There are plans to add support for a track_id within a track's `config.json` in the future.

[2017-10-20 15:09] rpottsoh commented on #80
@nywilken Antivirus is complaining that there is a virus detected within the 32 bit windows release.  Trojan:Win32/Fuerboos.A!cl is what is being reported.

[2017-10-20 15:24] nywilken commented on #80
Hmmm, not able to find too much information here https://www.microsoft.com/en-us/wdsi/threats/malware-encyclopedia-description?Name=Trojan:Win32/Fuerboos.A!cl. Looks like it is some cloud based heuristic for catching potential malware. I will regenerate and test on my Windows machine. After I re-release would you mind testing again and maybe submitting the file to https://www.microsoft.com/en-us/w

[2017-10-20 15:40] rpottsoh commented on #80
No problem.  Just leave a note here to let me know it is ready to try again.

[2017-10-20 15:48] nywilken commented on #80
New versions of the Win32 and Win64 binaries have been released. I'm testing on Windows 8 with Windows Defender - not issues so far. If you are still seeing the alert lets open an issue and we can track it there. Thanks so much for testing and your help.

[2017-10-20 16:06] rpottsoh commented on #80
I am using MSE and I think it is being stupid or at least overly cautious.  I turned off real-time protection and the download completed fine.  I then had MSE scan the file and it found nothing.  I then extracted the EXE and had MSE scan that, it found nothing.  I will pass the ZIP file on to the submission link you provided and indicate that the file is being incorrectly flagged as being infected

[2017-10-20 16:22] rpottsoh commented on #80
Good news and bad news:
Good news is is that `--track-id` and `tree` work great!  Thanks

Bad news is that I have to turn off MSE's real-time protection to allow configlet to run.  I have submitted the ZIP file to Microsoft....  Who knows what happens next, or when.

[2017-10-20 16:55] nywilken commented on #80
Thanks for submitting the file for analysis. It seems like a number of applications have been hit with this alert - looks like the tool might still be in its early stages. Various sources stated that after submitting a legit file for analysis  a new set of definitions were made available, which no longer flagged the binaries under test. I hope its a quick turn around on the MSE side. In the mean,

[2017-10-20 20:33] rpottsoh commented on #80
The file I submitted for checking earlier today received a clean bill of health.  So, for now, I have instructed MSE to exclude configlet.exe from its gaze.

[2017-10-21 00:19] icyrockcom commented on #80
@nywilken Thanks! Confirmed to be working now on purescript track: https://travis-ci.org/icyrockcom/xpurescript/builds/290680140

[2017-10-22 13:54] kytrinyx commented on #99
The UUID is used to represent the exercise, and it needs to be unique across all exercises on Exercism.

I'd suggest that we use `google/uuid`.

We have until v2 goes live to get the uuids right in some final/usable form. I would suggest that we switch out the dependent library, and submit PRs to fix all the tracks to fix the UUIDs.

[2017-10-23 23:39] rpottsoh opened #102 "configlet tree: crashes on csharp"
`configlet tree .` is crashing when I run it against the CSharp track.  It is working fine against Delphi and Ruby.

Here is the output I am receiving when I run it against the CSharp track:
[code]
Configlet lint is not reporting any problems with CSharp.  I am using the 32 bit Windows version of Configlet.  Let me know if you need anymore information.

[2017-10-24 00:52] nywilken commented on #102
@rpottosh thanks for reporting this issue. I have not confirmed this, but it looks like configlet is expecting an instance of an exercise and is actually getting nil on line 235.  Taking a quick look at the config.json for csharp I see the two-fer exercise has a string value of `”null”` for unlocked_by https://github.com/exercism/csharp/blob/master/config.json

It should be null.

Could you try sa

[2017-10-24 12:40] rpottsoh commented on #102
@nywilken I have changed `"null"` to `null` on line 67 for `two-fer`.  This resolves the problem and `configlet tree .` works fine.

Should `lint` catch this?  Should I bother posting an issue?

I am going to go ahead and submit a PR to CSharp.

[2017-10-24 13:15] tleen commented on #102
It should probably be caught in a few places. I purposely assumed a well-formed config when `tree` executes. Perhaps there should be a few sanity checks + warnings in there.

Definitely lintable and a worthy issue, this one could serve as that issue. Or another one, but leave this one open and I will at least fix the issue in `tree` to close it?

[2017-10-24 13:20] rpottsoh commented on #102
@nywilken  said:

Sounds like @nywilken may be planning to beef up `tree`.

[2017-10-24 20:21] nywilken commented on #102
A little late on responses - family vacation. @rpottsoh thanks again for reporting and fixing this within the csharp track. As @tleen said already, this issue can serve as the bug.

@tleen I haven't had a chance to look at your updated PRs just yet, but while looking through the code as it currently stands. I saw that we don't actually check that we got a valid item from slugByExercise https://git

[2017-10-24 20:28] nywilken commented on #102
There is an open issue/request for validating `unlocked_by` and `core` when it comes to `configlet lint`. I suspect that functionality would've caught this issue.

[2017-11-07 17:40] stkent opened #108 "configlet lint: ignore git-ignored files?"
The current version of `configlet` reports the following lint errors on the Java track:

[code]

The directories found here are local-only (ignored by git). Is there a way to have `configlet lint` operate only on non-git-ignored files?

[2017-11-07 18:35] tleen commented on #108
Or perhaps ignore non-standard dotfiles?

[2017-11-07 18:53] stkent commented on #108
(Those are dotdirs, if that makes any difference 😄)

[2017-11-07 19:03] tleen commented on #108
Right, dot-thingies :laugh:

[2017-11-07 19:48] Insti commented on #108
There used to be an `ignore` section in `config.json` for this.

[2017-11-12 15:42] kytrinyx commented on #108
For what it's worth, it was not for this, though I would understand it if it were used for that.

The origin of `ignore` was that we had exercises living in the root dir of the track, and so we needed to track what directories in the root that were part of the git repository, but which were _not_ exercises (e.g. `docs`, `img`, `test`, `bin`, etc). Now that exercises live under `exercises/` the ign

[2017-11-12 17:28] Stargator commented on #99
Is there a summary of what was ultimately the decision?

[2017-11-12 19:58] kytrinyx commented on #99
We decided to:

- replace the current uuid library with the google/uuid one
- write a (temporary, unofficial) script/commend in configlet to help detect incorrect uuids and replace them
- submit PRs to each of the tracks with fixes

This doesn't impact the v1 exercism site, but will require a full database refresh of v2 (which was already planned, so we're not losing any data that we thought we wo

[2017-11-13 23:31] stkent commented on #108
Maybe something like https://stackoverflow.com/a/39064584/2911458?

[2017-11-14 07:15] Insti commented on #108
Removing it  was certainly reasonable.

Does it need to be that complicated and depend on `git`? Could we just put an `ignored` section back and explicitly list the files/paths/patterns to ignore?

[2017-11-23 13:08] kytrinyx commented on #108
Just to confirm: `.idea` and `.gradle` are not committed to the repository, right?

If not, then I would prefer not to have to add anything to the `config.json` file about it, since there's no reason why anyone looking at the config should have to know that people have these directories locally.

On the other hand, it seems like these would be language-specific enough that they'd appear in the `.g

[2017-11-24 22:44] stkent commented on #108
Correct. The `.idea` folder is specific to contributors who use IntelliJ, but the `.gradle` folder should appear for any contributor who chooses to run track-wide tests.

[2017-12-05 20:30] kytrinyx opened #112 "Add upgrade command"
We have an upgrade command in the Exercism CLI, which would be handy to have in Configlet.

I kind of don't want to extract that logic into a separate package and create a whole new dependency that we need to track, so I'm tempted to suggest that we copy it in.

On the other hand, copy/paste might be a terrible idea.

What do you all think?

[2017-12-05 20:35] kytrinyx opened #113 "Detect if configlet is at the latest version"
The discussion in https://github.com/exercism/docs/pull/110 raised some issues regarding improvements to Configlet in the context of UUIDs that get submitted, but which are incorrect.

Since older versions of Configlet were using a UUID library that generated invalid UUIDs, one thing we can do to help improve the situation is ensure that Configlet is up to date.

The approaches I can think of are:

[2017-12-05 20:38] kytrinyx commented on #99
Going back to the original title of this issue:

Should we detect invalid UUIDs on CI? (I think it would be worth doing).

[2017-12-05 20:47] rpottsoh commented on #113
I am for either form of the 1st option.

[2017-12-05 21:12] coriolinus commented on #113
As I see it, you need all those behaviors: every time a command is run, you want to check internal state, which may be a config file, and determines when the last version check was made. If it exceeds some threshold, it goes over the wire for a small request to get the current version. (This should behave well if the network is unavailable or laggy, meaning it runs concurrently with the actual com

[2017-12-06 12:31] tleen commented on #99
@kytrinyx we should during the lint? We can message as to the nature of the failure and how to correct it.

[2017-12-06 12:33] tleen commented on #112
Gut feeling is copy/paste is a terrible idea. But my general rule has been (perhaps) copy paste once, but never twice. Do you think any other aspect of the tooling may need an auto-upgrade?

[2017-12-08 00:10] nywilken commented on #113
I’m a fan of all three options, with some slight modifications. For the upgrade process #112, I think we could leverage the cli pkg in exercism/cli which is responsible for checking if a binary is out of date and upgrading to the latest version.

At a minimum users of configlet should be encouraged to use the same version used on Travis. Would anyone be opposed to showing the version with the buil

[2017-12-08 00:13] nywilken commented on #112
I would like to look into this further. I peeked at the cli pkg within nextercism branch which is responsible for upgrading nextercism. It is written in a way where we could import that pkg by itself and write a slight modified upgrade command. Does anyone mind if I take a stab at this?

[2017-12-08 00:18] nywilken commented on #99
I agree that checking on CI is crucial, even at lint. But my reservation, and I admit that I have not thought much into the legitimacy of this problem, is that if we run this at lint we will need to change all test data to use valid UUIDs unless there is a disable flag.

[2017-12-08 00:51] Stargator commented on #99
@nywilken Are you sayings some tests for exercises may trigger a failure if this is run in lint?

[2017-12-08 01:27] nywilken commented on #99
@Stargator I was specifically speaking about the unit tests for configlet. We currently use UUIDs like “aaa” in configlet fixtures.  UUID validation in configlet should not affect tests within exercises.

[2017-12-08 14:21] tleen commented on #113
It will need some sort of auto-check for current version. If a user is unaware that configlet is updated they may not think to run the update command. I'm often surprised at how many track maintainers don't even use it, let alone monitor its release status.

Over the wire every invocation is not great, and we would probably want to disable it entirely for travis linting?

A config file for one thi

[2017-12-09 21:37] nywilken commented on #113
That's the idea. The current version is easily accessible within configlet so it would be just printing in a way that it is not disruptive to the normal output.

I hoping that if a user sees that the build date in the version string is, lets say, older than x months or even a year old they would be inclined to check for a new release. Is that a stretch?

So in thinking about this a little more, if

[2017-12-09 21:46] nywilken commented on #108
@kytrinyx @stkent is this something that could be easily resolved if we ignored directory names and files that are hidden (dot files), or that begin with an underscore when traversing the track's exercise directory [#L48](https://github.com/exercism/configlet/blob/master/track/track.go#L48)?

Or are we looking for  a more robust solution to ignoring files and directories?

[2017-12-09 21:50] tleen commented on #113
All good ideas here. Esp. the metadata one. Would strive to avoid files if it can be avoided.

I really don't think users will think to check for a new release. Just not part of their workflow.

[2017-12-10 04:18] stkent commented on #108
That would work for the Java track's specific use-case, but I'm not sure what @kytrinyx has in mind r.e. generality of solution.

[2017-12-22 17:14] kytrinyx commented on #112
That would be lovely!

[2017-12-25 18:28] kytrinyx commented on #108
I'm OK with generalizing to say that no exercise slugs should start with a `.` or a `_`, which would solve this particular issue for the Java track, and would possibly be "good enough" to let us work around a lot of other potential issues that could come up.

I'm more comfortable with the simple-but-not-quite-generalized solution for now, with the potential of re-evaluating a more complex solution

[2017-12-27 19:38] nywilken commented on #112
@kytrinyx thanks, I have a WIP at https://github.com/nywilken/configlet/pull/2. I'm running into an issue when trying to extract the latest release -- see below

[code]

Looking at the response I get back from GitHub's release API I see that the Linux assets have a content-type of `"application/x-compressed-tar"`, where as on the CLI repo they have `"application/gzip"`. Have you come into this iss

[2017-12-27 20:09] kytrinyx commented on #112
I have not! That's very odd. They're built in the same way, so I have no idea why they'd get a different header.

Would you happen to be able to do a `curl -v` request to reproduce this? If so I can pass this on at work (or debug it when I get back).

[2017-12-27 22:08] nywilken commented on #112
@kytrinyx so I dug in a little further and found the issue. It turns out that there is a hard coded URL in the download method for `cli.Asset`, which responds with a 404 when executed via Configlet's upgrade command because it points to a different repo.

[code]

I changed the download method for Asset to support configlet, as a test, and things work as expected. I will continue with things and wi

[2017-12-29 17:08] kytrinyx commented on #112
Nice find! Thanks for digging into that.

[2018-01-14 23:34] kytrinyx opened #114 "Support a track-wide readme insert as a Go template"
Right now the readme insert is the `docs/EXERCISE_README_INSERT.md`.

If none of the track's exercises override the readme template by sticking a template in the `.meta` directory, then the template is not necessary.

However, if an exercise does override the README, then we lose the ability to use template variables in the insert. We need the template variables to correctly generate the command f

[2018-01-15 01:14] kytrinyx commented on #94
I've submitted the PRs for the rename from `HINTS.md` to `.meta/hints.md`.

[2018-01-15 01:14] kytrinyx commented on #114
See also the related https://github.com/exercism/configlet/issues/94

[2018-02-04 15:09] nywilken opened #116 "Update Track READMEs"
Before releasing the next version of Configlet the following tracks need to updated with README files for each exercise. See #98 for more information.

- [ ] tracks/haxe
- [ ] tracks/php
- [ ] tracks/python
- [ ] tracks/crystal
- [ ] tracks/swift
- [ ] tracks/elm
- [ ] tracks/go
- [ ] tracks/plsql
- [ ] tracks/csharp
- [ ] tracks/vbnet
- [ ] tracks/objective-c

[2018-02-04 15:24] #86 closed

[2018-02-04 20:11] nywilken commented on #116
@kytrinyx thanks for handling the README updates. I have time to cut a release. I'll bump the version to 3.7.0 and update the changelog.

If I run into any issues I'll be sure to ping the thread.

[2018-02-04 21:17] cmccandless opened #117 "Add commands for editing config.json"
Currently, whenever an exercise is added, removed, deprecated, etc in a track, the contributor must make the required changes by hand, which often results in errors or inconsistency. I propose adding the following functionality to configlet:

- add <exercise>
    - Creates a new entry in `config.json` for the specified exercise
- edit <exercise>
    - Makes changes to existing exercise entry in co

[2018-02-04 21:18] cmccandless commented on #117
RE: exercism/python#1084

[2018-02-04 21:22] nywilken commented on #116
@kytrinyx the latest release is now available for [download](https://github.com/exercism/configlet/releases/tag/v3.7.0). Thanks again for pushing the README updates along so quickly. 🙏

[2018-02-04 23:38] cmccandless commented on #117
Some work was done in exercism/python#1089 towards this end. While the implementation is in Python (not Go),  there may be something worth salvaging from that PR.

[2018-02-04 23:50] kytrinyx commented on #116
@nywilken Fabulous! I'm so glad we've gotten this pushed forward. It feels really nice to be able to close out old, ongoing work.

[2018-02-08 14:42] #108 closed

[2018-02-26 15:50] #112 closed

[2018-02-27 23:08] petertseng commented on #99
Rephrased from question to task.

[2018-03-06 03:55] #39 closed

[2018-03-06 03:55] #61 closed

[2018-03-06 04:11] nywilken opened #121 "Prepare for 3.8.0 release"
In preparation for the next release of Configlet, which contains an upgrade command and a new set of enhanced lint checks, we need to create PRs for each of the tracks that have unlocked_by violations and document the `configlet upgrade` command.

### Tracks Identified (so far)
- [ ] [exercism/go](https://github.com/exercism/go)
- [ ] [exercism/javascript](https://github.com/exercism/javascript)

[2018-03-06 14:27] kytrinyx commented on #121
I typically script these with github/hub. Want to give it a go? Or shall I take this one?

[2018-03-06 17:09] nywilken commented on #121
I was just going to go through these manually but if you have an automated way to handle that would be great. If, in the future, you wanted to share how you've automated these that would be pretty cool too.

Heads up some tracks live go, java, and ecmascript have some exercises locked by non core exercises, and some core exercises locked by other core exercises so we might need to have the track m

[2018-03-06 23:56] nywilken commented on #121
Ah https://hub.github.com - I'll give it a shot and report back if I get stuck.

[2018-03-09 04:27] kytrinyx commented on #121
Yes! Here's what I generally do:

- write the issue I want in a file (first line is subject, then a blank line, then the body)
- write a script to figure out which tracks are problematic (I have them all cloned locally, so I make sure they're all on master and all up to date before running my script)
- write a simple script to submit the issue using hub. Something like this (off the top of my head

[2018-03-12 15:23] nywilken commented on #121
Thanks @kytrinyx that was helpful. I managed to script things up, but have yet to officially create the issues. I should have things wrapped up in a day.

[2018-03-14 10:36] masters3d commented on #121
This sounds odd. What’s the point of progression then? Why’s should we care about making some excercises non core if they have to be unlocked by a core one?

This seems to be pushing down the complexity to the maintainers.

Can we just have a blessed list of core problems?

[2018-03-14 13:23] nywilken commented on #121
@masters3d thanks for the feedback.

Generally, speaking core exercises are meant to teach key concepts around a particular language (e.g looping, control-flow, string manipulation). That, if completed would prepare the user for any of the exercises unlocked by it.

Whereas optional, non-core, exercises are there to help build on, strengthen, those core concepts. Having a non-core unlocked by anot

[2018-03-15 04:07] Stargator commented on #121
@nywilken

But the core exercises are apparently not suppose to be ordered. So how if core exercises are not unlocked in a certain order, then as a maintainer I have no idea what path a given student is learning the language through the exercises. I would prefer to define in the config, this core exercise unlocks this core exercise and so on.

[2018-03-15 07:27] rpottsoh commented on #121
Are the Core's ordered by how they are placed in config.json or by their difficulty rating?  I am assuming the latter.

[2018-03-15 07:29] rpottsoh commented on #121
@nywilken does `tree` present the Core's in the order they appear or is it sorting them by difficulty?  I am thinking of these things on the fly here and I have not gone to see for myself.

[2018-03-15 18:12] Stargator commented on #121
It's hard to verify lot of exercises without the update for configlet being released.

Dart only has 11 exercises, but other repos may have much more. If you want to ensure everyone gets it right, I recommend releasing 3.8.0. Though my previous questions remain.

@rpottsoh It looks like the exercises are ordered by the order in which they appear in the config.

I had one exercise at the bottom and

[2018-03-15 19:09] rpottsoh commented on #121
I had one exercise at the bottom and it had a difficulty of 1. So difficulty doesn't seem to be a factor.

Thanks for researching this @Stargator, seems  like it ought to be by difficulty and not by order of appearance; or at least by difficulty then by order of appearance.

[2018-03-15 22:29] nywilken commented on #121
@rpottsoh @Stargator my apologies for not being able to respond earlier.

@Stargator thanks for getting to this ask. Just for completeness,  the `config.json` file is processed from top to bottom inserting the core exercises in the order that they are found into an array and displayed within the tree - independent of difficulty. The same is true for the non-core exercises.

Dart only has 11 exerci

[2018-03-16 03:24] nywilken commented on #121
@Stargator @rpottsoh

I went ahead and pre-released v3.8.0 for validation purposes. You can find the release at https://github.com/exercism/configlet/releases/tag/v3.8.0

[2018-03-16 17:04] rpottsoh commented on #121
Windows 64 bit pre-release v3.8.0 appears to be working OK for me.  Tried `lint`ing GO and found same error as you have listed in exercism/go#1093.  `version -l` also claims it is the latest version.  Will you be bumping the version for the release?  It would allow me to try the `upgrade` feature, currently it reports that the CLI is up to date.  @exercism/go should also `generate`, a couple of RE

[2018-03-17 13:47] nywilken commented on #121
@rpottsoh thanks for testing. In hindsight I should’ve pre-released a `rc` version for testing the upgrade functionality.

[2018-03-17 14:42] tleen commented on #121
Sorry for MIA I can take a look tomorrow, and appreciate the heads up on the Go track.

[2018-03-17 17:26] tejasbubane opened #123 "Better error message if unlocked_by is not an exercise"
In the [javascript track config](https://github.com/exercism/javascript/blob/master/config.json#L1133), the exercise `collatz-conjecture` has `unlocked_by` set to `"null"` - which is not an exercise.

The error message shown is:

[code]

This could be improved to tell that `"null" is not an exercise`. This can be also useful in case of typos in the exercise slug.

[2018-03-18 14:13] nywilken commented on #123
@tejasbubane thanks for the feedback. We wanted to try an avoid having additional checks for determining if a slug is an actual exercise as the non-core check would account for thst problem. But I do see the reasoning around including the exercise name, especially “null”.

Would you be open to messaging like the one below?

`
The exercise ‘exercise-slug’ is being unlocked by ‘other-exercise-slug’,

[2018-03-18 18:41] tleen commented on #121
When all is finished it may be useful to document somewhere this process for creating the repo-side issues via hub. I've often wondered about it myself. Seems like something we would do via this project here and there.

[2018-03-18 18:59] tleen commented on #121
@rpottsoh @Stargator difficulty is noted (if --with-difficulty is flagged) but not taken into account anywhere. The ordering is the ordering by which the exercise data is unpacked from the JSON which IIRC is in listing order.

[2018-03-18 21:06] tleen commented on #121
@masters3d I believe it was determined that it was not possible to create a blessed list because of large differences in languages and exercise implementations.

[2018-03-18 21:08] tleen commented on #121
| @exercism/go should also generate, a couple of READMEs are out-of-date.

Thanks for the heads up @rpottsoh I just PRd that update via the latest configlet. So `generate` works just fine!

[2018-03-19 13:06] tuxagon commented on #123
@nywilken, something worth noting about this error message is that I wanted to include the non-core unlocked_by name, but the `check` function that all the lint functions use has a signature of `func(track.Track) []string`  [here](https://github.com/exercism/configlet/blob/d905d5798a3f931f035e72df46a9a4e4382a17f7/cmd/lint.go#L81). I did not want to go changing the signature and working outside the

[2018-03-24 17:14] kytrinyx commented on #121
Sorry I've missed this entire discussion—I've been heads down at work for the past 2 weeks.

To clarify:

The core exercises are meant to be done in order. Each core exercise unlocks the next. This happens implicitly by virtue of being "core". You have to complete the core exercise you are working on, in order to start on the next one.

The order is decided by the array in config.json.

The diffic

[2018-03-24 20:33] kytrinyx commented on #123
One thing we might be able to do is have an error message function for each lint function that takes the slug of the exercise, and then can do extra work if necessary to put together a useful error message, if that makes sense (I haven't actually looked at the code recently, and this might be hard to do).

[2018-03-25 00:23] masters3d opened #124 "Mac build reporting duplicated guid when win or Linux are not"
https://github.com/exercism/typescript/pull/161

[2018-03-25 19:28] kytrinyx commented on #124
The Mac build on Circle CI appears to build the project into a directory with a non-standard name,
'project', which means that the configlet lint command tells the Exercism UUID API endpoint that
it's checking the UUIDs of the 'project' track, rather than the typescript track.

As a result, the UUID API reports that the UUIDs are duplicates.

I'll submit a PR that fixes this to the typescript trac

[2018-03-25 19:28] #124 closed

[2018-05-09 17:04] nywilken commented on #121
@rpottsoh thanks for testing!!!!

[2018-05-10 02:10] rpottsoh commented on #121
`upgrade` from 3.8.0 to 3.9.0 for Windows 10 👍

[2018-05-12 14:51] paulgoetze opened #128 "fmt: Missing newline at end of files"
Running `configlet fmt <file>` with v3.9.0 results in files not ending in a newline.

Reformatted files should end in a newline to make them POSIX compliant textfiles.
See https://github.com/exercism/erlang/pull/244#issuecomment-388557811

[2018-05-12 14:56] paulgoetze opened #129 "fmt: Converts empty list to null value"
Running `configlet fmt <file>` converts an empty list to a null value, which is semantically different.

See https://github.com/exercism/erlang/pull/244#issuecomment-388557811.

[2018-05-27 12:39] #128 closed

[2018-05-27 15:10] #129 closed

[2018-06-11 11:04] mienaikage opened #136 "configlet lint raises error if `checklist_issue` contains a number"
Saw the issue flagged in https://github.com/exercism/powershell/issues/69 and was having the same problem on perl6. If `checklist_issue` contains a number the following error occurs:
`-> invalid config config.json -- json: cannot unmarshal number into Go struct field Config.checklist_issue of type string`.

This is new to `v3.9.1` and does not occur in `v3.9.0`.

[2018-06-11 12:05] nywilken commented on #136
@mienaikage thanks for reporting. Looking a little deeper into how the API is using this value it should be an int and not a string. The field is not implemented by a lot of tracks so this issue has not come up. Nor was it being tracked in v3.9.0

@kytrinyx when I spot checked I didn’t run into an issue, but looking at the tracks I tested against they don’t have a checklist issue. Th majority of t

[2018-06-11 14:35] kytrinyx commented on #136
The `checklist_issue` field holds the number of the tracking issue for upcoming tracks, which is used to say "if you want to help launch it, look here". If the `checklist_issue` is number 1, then we don't put it in the config. For the past two years, I have been bootstrapping tracks with a script, which means that the checklist issue is always 1. This field will go away.

The following tracks have

[2018-06-11 14:39] kytrinyx opened #137 "Add support for `auto_approve` field on exercise metadata in track config"
We've currently made any `hello-world` exercises auto-approved in the backend of [v2](https://github.com/exercism/v2-feedback/blob/master/README.md). This means that you don't need mentor approval in order to move forward when you've completed that exercise.

Not all tracks have a `hello-world`, and some tracks might want to auto approve other (or additional) exercises.

We should have support for

[2018-06-11 17:15] #136 closed

[2018-06-11 19:54] #137 closed

[2018-06-12 08:48] petertseng opened #140 "configlet fmt on deprecated exercises: Please advise on `core`, `unlocked_by`, `difficulty`, `topics`"
recent `configlet fmt` adds these keys to all exercises in the `deprecated` array

[code]

In https://github.com/exercism/discussions/issues/159#issuecomment-315466131 I argued that I saw no reason to keep `difficulty` and `topics` there. I continue to see no reason, however this is your chance to make me see a reason.

For example, perhaps any exercise that becomes deprecated could simply retain

[2018-06-12 15:48] kytrinyx commented on #140
I agree with you. I had forgotten to add tests for this case.

[2018-07-10 11:53] kytrinyx opened #141 "Add support for an `extensions` array in the `fmt` command"
We are adding an `extensions` array to the tracks `config.json` file. We will use this for a couple of different purposes:

- **syntax highlighting** - the Prism library can use file extensions to determine which syntax highlighting lexer to use
- **inferring files to submit with CLI** - the CLI can submit an exercise directory, but this often contains temp files, build files, artifacts, etc that

[2018-07-15 12:48] nywilken commented on #141
@kytrinyx what else are we thinking here regarding support for Extensions. Is this a field we want to lint for for as well. If we are going to go with the whitelisting functionality in the CLI I would think so just want to confirm.

[2018-07-15 14:12] nywilken commented on #40
I started looking into this issue. Is 30 words (5 characters) a bit much? Looking at some of the existing blurbs they are around 10 - 16 words. With that said should this rule apply to maintainer bios as well if show on website property is set to true?

[2018-07-19 22:43] kytrinyx opened #144 "Add command to list unimplemented exercises in a track"
It would be useful if we could list out which of the available problem-specifications have not yet been implemented (and have not been foregone).

[2018-07-26 20:34] kytrinyx commented on #141
Yeah, I think we should lint for it.

[2018-07-27 13:41] amscotti opened #145 "Deprecated exercises shouldn't be able to be part of core"
Based on https://github.com/exercism/ecmascript/pull/433, I feel that `configlet lint` should error on any exercise that has `"core": true` but also is `"deprecated": true`. Right now, with this configuration it blocks someone from moving on to the next exercise in the track.

[2018-07-28 00:34] nywilken commented on #145
@amscotti thanks for opening up this issue. This seems like a bug on the Exercism backend side as well if it is indeed showing exercises which are set to be unlocked by deprecated exercises. @iHiD ☝️

None the less, I agree that we should have a check for this case. If anything two checks. One that deprecated exercises are not core, two that an exercise is not set to be unlocked by a deprecated ex

[2018-08-02 13:15] ZapAnton opened #146 "generate: Option to ignore problem-specifications"
Is it possible for a `generate` command to ignore the updates to `problem-specification`
 and just regenerate READMEs in the track using only local template in the `config` folder?

I could not find the option in the `--help` output nor in the README, so had to open an issue (sorry about that)

[2018-08-02 13:50] rpottsoh commented on #146
I think you can do what you want by having a .meta folder within the exercise/<slug> folder that contains a local copy of the template that `generate` uses.  Look into https://github.com/exercism/docs/blob/master/language-tracks/exercises/anatomy/readmes.md

[2018-08-02 14:11] ZapAnton commented on #146
Sorry, @rpottsoh , but this is not what I was looking for.

What I needed was to add a track-wide hint to `config/exercise_readme.go.tmpl`,
run `bin/configlet generate .` and ensure, that no changes from `problem-specification` are applied
to the READMEs, but only from `config/exercise_readme.go.tmpl`.

The README you linked talks about adding a `.meta` folder for every exercise and I feel, that i

[2018-08-02 14:30] rpottsoh commented on #146
I see, I understand.  A klunky way would be to not commit changes to the READMEs that are not related to the hint you are adding.  Only commit the changes relevant to the addition of the hint.

I can't confirm this but maybe configlet will use description.md from .meta if one is there instead of from problem-specifications.  This still involves work, you would have to create description.md files f

[2018-08-02 14:43] ZapAnton commented on #146
I have looked through `generate` source and found this:

[code]
If I understand it correctly, if no `problem-specification` is found, then only track folder is searched for changes.

Could it be that a solution for my case is to simply rename/remove `problem-specification` folder?

[2018-08-02 15:00] rpottsoh commented on #146
I don't think so.  `generate` looks for `problem-specifications` at the same level as the the track folder.  If it can't find such a folder it will err.  The `-p` switch allows you to specify the correct local path to the problem-specifications folder.  Locally I call it something else so `-p` is necessary for me.

[2018-08-03 15:58] kytrinyx opened #147 "Create command to fork all track repositories"
A lot of janitorial work involves cloning all the repositories and writing a script to make the same change across all the repositories, and then submitting a pull request to each repo.

This means that people need to fork and clone every repository.

It would be very helpful if we had a command that would:

- use the GitHub API to find all the repositories in github.com/exercism that are tagged w

[2018-08-10 20:37] kytrinyx opened #148 "Add a --diff flag for `fmt` that will not actually rewrite the files"
This should return a non-zero code if there is a diff.

See https://github.com/exercism/meta/issues/105

[2018-08-14 01:09] kytrinyx commented on #146
@ZapAnton Why do you not want to include any changes from problem-specifications?

[2018-08-14 03:33] ZapAnton commented on #146
@kytrinyx, as I have mentioned in the comment above, there are times, when I would like to make a PR to the language track, that involves editing the track-wide template in the `config/exercise_readme.go.tmpl` and applying changes to the every existing exercise in the track. In case the `problem-specifications` repo has been updated, the `configlet generate` command, aside from regenerating exerci

[2018-08-14 23:38] kytrinyx commented on #146
Got it. Thanks, that's helpful.

There's no simple way of doing that using plain Go templates, but if we made a note of what the `SHA` of the master branch on the `problem-specifications` repo was at the time of running the generate command, then you could check out problem specifications to the correct SHA, and re-run the generate command without getting any diffs.

I'm not sure where the best pl

[2018-08-15 08:10] ZapAnton commented on #146
I am afraid this solution will not help in case when a large amount of exercises is regenerated.
First, you need to log SHA for every one of them.
Second, different exercises may have been regenerated using different versions of `problem-specifications`, so you can not checkout on some single version of the repo to make a batch regeneration (you could checkout the repo for each exercise individual

[2018-08-15 23:16] kytrinyx commented on #146
The sha should be logged automatically by Configlet when generating. This shouldn't be handled manually.

That seems perfectly reasonable to me.

[2019-01-07 17:11] #69 closed

[2019-01-07 17:12] #75 closed

[2019-02-27 15:34] macta opened #154 "Configlet generate doesn't like long path names (lint does)"
I get a path not found error from configlet on a longer path name with whitespace characters in it. I am wondering if the generate command doesn't escape things properly - however the lint command works fine?

e.g.

[code]

[2019-02-27 17:58] kytrinyx commented on #154
Almost certainly!

Great find, thank you.

[2019-05-06 07:10] coriolinus opened #159 "lint should not fail if an implementation is not found for a deprecated exercise"
The Rust track is performing some cleanup in https://github.com/exercism/rust/pull/773, removing deprecated exercises. `configlet lint` is run during our CI testing. The lint fails for that PR with the following error:

[code]

This is not helpful: as all three of those exercises are deprecated, we should not need to retain an implementation of the exercise.

While it is possible to work around th

[2019-06-06 22:27] benreyn opened #162 "Check for duplicate uuids (accounting for whitespace)"
Recently on the elisp track we had a uuid accidentally munged in a PR that was not caught in code review. The long and short of it is that an existing exercise ended up with the same uuid as the new exercise that was being added. (plus some whitespace)

https://github.com/exercism/elisp/commit/62075c8884e55c362de10a717bfae2bd45361ea9#diff-06b2d3b23dce96e1619d2b53d6c947ec

This feels like a thing t

[2019-06-06 22:38] iHiD commented on #162
Thank you 💙

[2019-06-07 14:55] kytrinyx commented on #162
Configlet should definitely be able to catch that! I'll take a look at this as soon as possible.

[2019-06-07 18:35] rpottsoh commented on #162
It catches dupes just fine, but if one has a trailing space it won't.....

[2019-06-26 14:53] iHiD commented on #80
Can this be closed?

[2019-08-06 03:43] guygastineau opened #165 "fetch-configlet: spurious error on failure"
I have received the following error twice on Travis builds for `exercism/bash`:

    �[0Ktravis_time:start:1ae0802b
    �[0K$ bin/fetch_configlet

    tar: Unexpected EOF in archive
    tar: Unexpected EOF in archive
    tar: Error is not recoverable: exiting now

    �[0K�[31;1mThe command "bin/fetch_configlet" failed and exited with 2

I think this might be due to the piped stdin being closed du

[2019-08-06 12:42] kytrinyx commented on #165
Thanks so much for looking into it, a PR would be very welcome!

[2019-08-06 12:45] guygastineau commented on #165
Great. Coming soon.

[2019-08-16 13:48] guygastineau commented on #165
Oh, I thought I added a clause closing this from the PR.

I'll close it now.

[2019-08-16 13:48] #165 closed

[2019-08-26 05:12] petertseng commented on #162
according to https://github.com/petertseng/exercism-problem-specifications/blob/list-tracks/uuid.rb, the list of duplicate UUIDs currently:

dup 98ae146a-67f9-49ae-9cd6-00882a374248 [["groovy", "resistor-color-duo"], ["dart", "resistor-color-duo"]]
dup c52dfe2b-5634-4c0c-8ea2-3ca86e5d9a33 [["groovy", "isbn-verifier"], ["dart", "isbn-verifier"]]
dup b306bdaa-438e-46a2-ba54-82cb2c0be882 [["ruby", "a

[2019-08-26 12:56] iHiD commented on #162
@petertseng This is extremely helpful. Thank you.
@kytrinyx Could you update configlet for this pls?

I will put an hour aside to deal with all these.

[2019-08-26 18:05] petertseng commented on #162
I seem to have misunderstood this issue and posted my above list in the wrong place. This issue is for two exercises in the same track, whereas my list was concerning exercises in different tracks. If there needs to be a different issue, I would gladly move my list there instead of here. Apologies for reading too fast and thus misunderstanding.

[2019-08-27 03:26] petertseng commented on #162
If I understand https://github.com/exercism/website/pull/601 correctly, it is now OK for two different tracks to share UUIDs.

If that is true, no action needs to be taken as a result of my above list. Apologies again for barking up the wrong tree.

[2019-08-27 03:28] petertseng commented on #162
I will hide my incorrect list as off-topic.

[2019-08-27 11:24] iHiD commented on #162
@petertseng I think what you've said here is still important, so I'd like to enforce this regardless. `uuid`s should be unique across exercism, so where our tooling can help with that I'd like it to. However, it seems you're right that that PR does remove the immediate danger.

[2019-11-14 21:47] tqa236 opened #170 "Installation guide?"
I'm sorry if I seriously miss it, but is there an installation guide for the configlet, ideally in README?

[2019-11-15 02:59] ekingery commented on #170
Hello. There is no installation guide at the moment, just a link at the end of the README to the releases page: https://github.com/exercism/configlet/releases

If you download the release archive corresponding to your computer, it will contain a binary / executable file. Run that and you should be off to the races. Feel free to close if you feel that is sufficient, open a PR if you'd like to augme

[2019-11-15 10:04] tqa236 commented on #170
Thank you. I manage to do that now so I will close this issue. I still hope that we will get clear instructions for installation in the future.

[2019-11-15 10:04] #170 closed

[2019-11-26 10:28] ee7 commented on #162
I noticed this recently.

Just in case it's useful: see below for an updated list of duplicate UUIDs.

The most recent one is from today, introduced by Kotlin's `diffie-hellman`.

### Ordered by UUID:

| UUID                                  | Track      | Slug                |
| ------------------------------------- | ---------- | ------------------- |
| 00c6f623-2e54-4f90-ae3f-07e493f93c7c  | cr

[2019-11-27 02:31] iHiD commented on #162
Thank you.

@ekingery - Maybe this is something you could take a look at?

[2019-12-16 15:37] logankilpatrick opened #172 "Add install instructions"
Hey all, It would be nice to have detailed install instructions. I am currently adding my first exercise for the Julia track and it's a bit unclear how I can use this tool.

[2019-12-17 02:25] SleeplessByte commented on #172
I agree.

Most repositories have a configlet fetch command, that fetches the executable from the releases page here. That's basically all there is to "installing".

[2019-12-23 14:28] ErikSchierboom commented on #172
I learnt most of it by examining other repos, so I definitely agree that we could improve on the instructions.

[2020-02-19 21:02] amscotti opened #173 "fetch-configlet - gzip: stdin: not in gzip format"
I'm not really sure if this is an issue or just something I'm seeing due to something temporary or intermittent but when working on the Groovy track, when running `fetch-configlet` I'm getting this error,

[code]

I have seen this locally, (Mac OS, Ubuntu on WSL) along with on CI (Travis and GitHub Actions). If I keep running the build it will eventually pass without any errors from `fetch-configl

[2020-02-20 08:54] ErikSchierboom commented on #173
I have had the same issue for the C# and F# tracks.

[2020-02-25 06:59] ErikSchierboom commented on #173
This is a link to the failing build on GitHub actions: https://github.com/exercism/csharp/pull/1364/checks?check_run_id=465607250

[2020-03-03 11:24] nicuveo commented on #173
Same problem on the Haskell track; I have two PRs that won't build (https://github.com/exercism/haskell/pull/896 and https://github.com/exercism/haskell/pull/897).

[2020-03-03 11:25] marvelou-s commented on #173
The problem was [here](https://github.com/exercism/cpp/pull/344/files). CI build passed on cpp track.

[2020-03-04 14:43] nicuveo commented on #173
This PR also proposes a fix that uses `perl` instead to make the check case insensitive: https://github.com/exercism/sml/pull/127.

[2020-03-05 13:46] JesseSingleton commented on #173
Having this issue when trying to PR into the Javascript track.

[2020-03-06 01:12] pclausen commented on #173
same issue on fortran track: https://github.com/exercism/fortran/issues/71

[2020-03-13 07:36] ErikSchierboom opened #175 "Linting should fail when there are formatting changes to be applied"
Running `configlet lint .` should verify that there are no formatting changes that should be applied (result of `configlet fmt .`).

[2020-04-12 19:54] Cohen-Carlisle commented on #173
The most robust way to fix this is to find the line in your CI doing:
[code]
and replace `/Location` with `toupper($0) ~ /LOCATION` (or `tolower($0) ~ /location`) so that it looks like this:
[code]
This is because HTTP headers are case insensitive according to their specification.

[2020-04-14 07:29] ErikSchierboom commented on #173
@Cohen-Carlisle Actually, the underlying issue for this issue is that we're hitting rate limiting. So the best way to update is update to the latest version of the `fetch-configlet` file (https://github.com/exercism/configlet/blob/master/scripts/fetch-configlet). Coincidentally, the latest version does not use the header anymore but instead uses the GitHub API.

Note that the latest version is eas

[2020-04-16 03:21] Cohen-Carlisle commented on #173
I'm not sure how out of date elixir's fetch-configlet was, but I can say with certainty that it was 100% broken due to the casing of the Location header. The file you linked is indeed a better solution, though, as it takes care of rate limiting and won't struggle with http headers' case insensitivity.

[2020-04-16 06:41] ErikSchierboom commented on #173
Ah right, so you were bitten by a different bug then :)

[2020-10-09 15:54] SaschaMann opened #176 "`configlet fmt` removes editor settings"
See https://github.com/exercism/julia/compare/config-fmt

The `online_editor` object is removed when running `configlet fmt .`

[2020-10-09 17:58] ErikSchierboom commented on #176
We're aware of this! We'll fix this in the new configlet version (which is being worked on).

[2020-10-10 09:06] NobbZ opened #179 "Strip `configlet` binary before pushing the release"
The linux binary has a size of 11MiB, after applying `strip` it is down to 7.1 MiB.

This is a reduction by roughly 33%.

Considering that also 8MiB is the magic barrier for binary size in some online/cloud IDE services stripping really could be worth it.

[2020-10-10 17:23] ee7 commented on #179
I noticed this too.

We can probably use something like:

[code]

Note that we'd still get good stack traces from panics.

I believe this is the preferred way to strip Go binaries (rather than using `strip`), and that it's considered safe nowadays. But in the (somewhat distant) past there were problems with stripping them, especially on more obscure platforms. See e.g. [here](https://github.com/mo

[2020-10-15 22:28] #162 closed

[2020-10-16 16:41] ekingery commented on #148
Closed by PR #150

[2020-10-16 16:41] #148 closed

[2020-10-16 18:23] ekingery opened #181 "Centralize fetch / install script"
Currently we [hardcode a handful of helper / installation scripts](https://github.com/exercism/request-new-language-track/tree/master/bin) into every track repo. Specifically relevant to configlet are the `fetch-configlet` and `fetch-configlet.ps1` scripts.

Up for discussion / consideration is centralizing the fetch / install scripts, similar to the way homebrew and many other software projects p

[2020-10-18 14:15] ee7 opened #183 "fetch-configlet: Improve error message for a bad token"
See https://github.com/exercism/canonical-data-syncer/issues/38

[2020-10-20 06:44] ErikSchierboom opened #184 "Moving from Travis to GitHub Actions"
Hello 🙂

Over the last few months we've been transferring all our CI from Travis to GitHub Actions (GHA). We've found that GHA are easier to work with, more reliable, and much much faster.

Based on our success with GHA and increasing intermittent failures on Travis, we have now decided to try and remove Travis from Exercism's org altogether and shift everything to GHA.

For most CI checks this sh

[2020-10-20 06:48] ErikSchierboom commented on #181
I like the idea of tracks being able to install configlet without having to update the actual script. We should have a bash script for Unix-based systems, and a PowerShell script for Windows based systems.

A great example of this is .NET Core, which provides both these install scripts: https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script

[2020-10-20 15:25] ekingery commented on #181
Another instance of increased fragmentation of `fetch_configlet` is the new [GH Actions build](https://github.com/exercism/github-actions/blob/master/configlet-ci/fetch-configlet). This simpler version should be easier to maintain, but does add to the problem of hardcoding release names, for example.

Also worth noting is that python (and probably a few other repos) have [their own fetch script](h

[2020-10-21 15:45] cmccandless commented on #62
Perhaps. Since UUID is unique even across exercises, it should be able to function without `-e`, but including it would limit the scan of `configlet sync` and presumably simplify implementation.

For now, I would limit to a single UUID. This would support most reasonable use cases:

- Include all missing cases (`--tests=include` _without_ `--uuid`)
- Exclude all missing cases (`--tests=exclude` _w

[2020-10-21 18:38] wolf99 opened #185 "Lint tests.toml"
Opening here per @ErikSchierboom  comment https://github.com/exercism/problem-specifications/issues/1714#issuecomment-709881600

Can the configlet `lint` command add linting of the `.meta/tests.toml` for an exercise?

Linting the `tests.toml` may make life easier for newer contributors when creating new exercise implementations though (and for those that review them).

[2020-11-26 20:01] Stargator opened #188 "fetch-configlet: Unrecognized Archive Format"
I am running a MacOS.

I have tar and this is the output of tar --version:

Output when I run fetch-configlet:

I am able to run fetch-canonical_data_syncer with no issues. Probably because it uses a zip file and not tgz

[2020-12-16 18:24] SleeplessByte commented on #188
The old script was broken for all repositories without telling anyone.

Here is the new script:

[code]

**NOTE** That this will download 3.9.2: https://github.com/exercism/configlet/releases/tag/v3.9.2

[2020-12-16 18:33] SleeplessByte opened #189 "Can't generate README correctly"
https://exercism-team.slack.com/archives/CR91YFNG3/p1608142116422900

[code]

Folder structure:

[code]

Current working directory:

[code]

Command ran:

[code]

Output:

![image](https://user-images.githubusercontent.com/1964376/102390638-f458a980-3fd4-11eb-8908-e4c2f4348b8b.png)

Expected it to use:

![image](https://user-images.githubusercontent.com/1964376/102390632-eefb5f00-3fd4-11eb-8071-40

[2020-12-19 19:12] Stargator commented on #188
@SleeplessByte Thanks, but that still gives me the same issue, but the newest version in master as of October 13th works properly. I guess I didn't realize I had an outdated version.

[code]

[2020-12-19 19:12] #188 closed

[2020-12-19 20:00] SleeplessByte commented on #188
Ah I might have copied the wrong one. Sorry! But you got there 🤗

[2021-01-13 16:01] ee7 commented on #181
Did we decide anything here?

The option proposed by this PR (option 2 in the below list) seems good to me, assuming we're set on keeping a fetch script in every track repo.

Some options:
1a. Keep a `fetch-configlet` script in every track repo, and do nothing. This has been the "strategy" so far, and caused some tracks to have silently broken scripts.
1b. Keep a `fetch-configlet` script in every

[2021-01-13 16:39] ekingery commented on #181
Thanks for the response, @ee7! I was thinking along similar lines as your 2. proposal above. However, rather than having the install script pull fetch-configlet, I am proposing that wherever fetch-configlet is used, we replace that with a single command that runs the shell script installer from the main branch of the repo. This way, we don't actually need fetch-configlet at all (unless I'm missing

[2021-01-14 09:18] ErikSchierboom commented on #181
I like proposal #2, as it does solve the "how to update the script across all tracks" issue.

I would still have it just as a convenience. I wouldn't want all tracks to figure out the exact bash command to run the installer.

@SaschaMann @SleeplessByte What do you think?

[2021-01-14 09:28] SaschaMann commented on #181
I don't use the script outside of CI and don't really care. I download it from the GH release page and watch the repo for releases. I don't know if first time contributors or casual contributors bother downloading it at all.

Having a script to download a script to download a tool seems a bit cumbersome though. I'd slightly prefer option 1b, with an opt-out for tracks that use their own tool. I do

[2021-01-14 11:57] SleeplessByte commented on #181
I use the scripts locally all the time. I don't mind if they were to go away, but is fetch fetch worth the DX for the few times fetch updates?

I rather have a CI on the track that periodically runs to pull the latest fetch script from a central repo.

[2021-01-14 12:01] ErikSchierboom commented on #181
I would be totally fine with this.

[2021-01-14 12:13] SaschaMann commented on #181
Why not push it rather than periodically running it?

[2021-01-14 13:15] SleeplessByte commented on #181
I would, but those are 1a and 1b and apparently are problematic.

[2021-01-14 14:40] ErikSchierboom commented on #181
1a is the current situation, which I don't particularly like because it is easy for stuff to break without tracks knowing about the fix. I'm fine with 1b.

[2021-01-14 15:07] SleeplessByte commented on #181
In this case I think the maintenance burden is really low as it's "Approve and merge".

[2021-01-14 15:26] ErikSchierboom commented on #181
Yeah. We will have tracks that are not actively maintained, but that is something we can workaround once we get the exercism/reviewers permissions sorted out.

[2021-01-15 17:24] ee7 commented on #181
The fetch scripts have two main uses:
- In CI (historically): to download `configlet` so it can be used to run `configlet lint` (some tracks also use `fmt` and `generate` in CI).
- Locally by contributors: during development to get a local copy of `configlet` to use while preparing PRs.

If the first use case was the only one, then I agree your suggestion seems better than having a copy of the scr

[2021-01-15 17:49] SaschaMann commented on #181
Ah okay. Pushing a file across repos is pretty straightforward.

[2021-01-15 18:16] SleeplessByte commented on #181
If `fetch-fetch-configlet` is renamed to `fetch-configlet` and actually does:

1. `fetch-fetch-configlet`
2. `fetch-configlet`

then nothing changes for current maintainers and I can agree fully with the change of the *contents* as @ee7 describes.

[2021-01-19 08:15] ErikSchierboom commented on #181
Yes, that seems to me to be the most reasonable solution. That way, the `fetch-configlet` script in the track's repo will hardly ever change and tracks still have the exact same functionality. We should use a CODEOWNERS rule for the fetched script as that file will become more important due to to it being used in all tracks.

[2021-01-22 09:48] ee7 commented on #181
I don't know what's the right decision here.

I don't personally use the fetch scripts locally, and I wouldn't personally run a script that does "download a script from an open source repo, and execute that script without inspection" in this context. But maybe `configlet` users are fine with that; after all, the script is downloading a `configlet` binary - they already trust that the binary itself

[2021-01-22 10:23] ErikSchierboom commented on #181
My thinking was indeed along the second part of your reasoning: people already trust the `configlet` binary, so we hardly lose anything with making them trust the script too.

One thing to note here is that not all tracks are very actively maintained. We could indeed use CODEOWNERS to add guarantees to make it trivial to merge the PRs, but I don't particularly see the benefit of doing that over do

[2021-01-22 12:20] SleeplessByte commented on #181
I think this is best of both world.

Yep. I use these scripts all the time and this is exactly how I feel.

[2021-01-22 12:26] ErikSchierboom commented on #181
Okay, let's do the following:

- Two new scripts will be created that download the latest fetch script from this repo and immediately run that script. We'll script PR these scripts to the tracks and for the tracks it will appear as if nothing has changed functionality wise
- The two new scripts will have an option to require a confirmation before execution, showing the script that will be executed

[2021-01-26 13:01] ee7 commented on #181
I'm okay with that. But I'll mention:
- It is generally non-trivial to write idiomatic, bug-free scripts.
- Adding any complexity to the script that performs "fetch-fetch" increases the chance that we need to update it later.
- Updating that script across 80 repos isn't much better than updating across 80 repos the script that performs "fetch".

Can we explicitly rule out `git subtree` and `git su

[2021-01-26 13:24] ErikSchierboom commented on #181
I'm hereby explicitly ruling that out :) We won't do anything with git submodules/tree/repos.

[2021-01-28 15:44] ErikSchierboom opened #190 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-29 08:48] ErikSchierboom commented on #190
As of today, the default branch of this repository has been changed to main.

[2021-02-09 18:03] ekingery commented on #181
Seems like we can close this issue out - please re-open if I've missed something! Thanks for all of the contributions - this is a tricky one...

[2021-02-09 18:03] #181 closed

[2021-04-28 08:42] #190 closed

[2022-03-31 21:50] ee7 opened #534 "ci: check whitespace (trailing whitespace, missing final newlines)"
This can speed up reviews and prevent PRs like #533 in the future.

[2022-04-06 09:26] ee7 opened #542 "generate: make interface consistent with `sync` and `fmt`"
`sync` and `fmt` make no changes unless `--update` is passed.

`generate` should work the same way.

Follow-up from https://github.com/exercism/configlet/issues/465

[2022-04-07 10:56] #534 closed, assigned to ee7

[2022-04-07 10:57] ee7 opened #543 "ci: investigate "always run on push, unless branch has open PR""
Follow-up from https://github.com/exercism/configlet/pull/535#discussion_r844424488

Could be the best of all worlds.

[2022-04-07 21:36] ee7 opened #544 "build: patching parseopt3 fails when using localdeps mode"

[2022-04-08 17:54] ee7 opened #548 "build: sign releases"
As of commit https://github.com/exercism/configlet/commit/f7c12253077d1ed3b70f4453fb30e0c8db1121de, each configlet release has a checksums file. Let's sign releases too.

I'd suggest using `minisign`, which is a portable and compatible implementation of OpenBSD's `signify` protocol.

Background:

- https://latacora.micro.blog/2019/07/16/the-pgp-problem.html (Ctrl+f minisign)
- https://flak.tedunan

[2022-04-09 09:13] ee7 commented on #548
Note that the latest release (and the latest release only) of [`exercism/cli`](https://github.com/exercism/cli) was signed (using gpg via GoReleaser - see [GoReleaser docs on signing](https://goreleaser.com/customization/sign/)).

It's [not documented in `exercism/cli`](https://github.com/exercism/cli/search?q=gpg), but the process of verifying that signature is:

1. Go to https://github.com/exerc

[2022-04-12 11:36] ee7 opened #551 "build(publish-release): race between `release view` and `release create`"
Follow-up from something I noticed in #550. There's a race condition here:

https://github.com/exercism/configlet/blob/4ddb23ddc59e48345c479ec8d43af05b4894cd42/.github/bin/publish-release#L5-L9

@ee7 wrote:

create a release in the time between `gh release view` indicating
"there is no such release" and `gh release create` running. We should
address that later, but it hasn't caused a problem yet -

[2022-04-14 13:16] ee7 opened #556 "ci: diff output from `lint` and `sync` with previous configlet release"
Follow-up from https://github.com/exercism/configlet/issues/523#issuecomment-1099162786

I have a script for this, which I've run for all the configlet releases. But it probably needs some tidying up before it works in this repo.

---

Edit 2023-10-02:
I think we can consider this part of the integration tests, but a separate job that's allowed to fail (where it indicates failure if the PR causes

[2022-04-15 12:39] ee7 opened #558 "fmt, info, lint, sync: use common types"
Erik is working on this.

[2022-04-15 12:41] ee7 opened #559 "fmt, sync: move formatting code to `fmt` or shared module"
Erik is working on this.

[2022-04-15 12:45] ee7 opened #560 "lint: move checks to `jsony` pass"
Follow-up from https://github.com/exercism/configlet/issues/312#issuecomment-917606867

[2022-04-15 12:48] ee7 opened #561 "tests: split tests of the executable by command"

[2022-04-15 13:00] ee7 opened #562 "lint: consider scope of markdown linting in configlet"
Follow-up on some discussions with Erik, starting from implementation options for https://github.com/exercism/configlet/issues/328.

I suggested that for a first implementation of markdown linting, we could consider adding `markdownlint` as an org-wide workflow (rather than adding it to `configlet lint`).

The downside: running `configlet lint` locally runs a smaller subset of checks that occur in

[2022-04-15 13:02] ee7 opened #563 "tests: add "end-to-end" tests for `lint`"

[2022-04-15 15:36] ee7 commented on #562
Otherwise, the main available Markdown libraries seem to be:
- https://github.com/soasme/nim-markdown
- https://github.com/zengxs/nim-cmark (which wraps https://github.com/commonmark/cmark)

I haven't used either. It is also possible to wrap some other C library.

[2022-04-15 15:40] ee7 opened #565 "sync: make `--tests` syncing use jsony only"

[2022-04-19 07:11] ErikSchierboom commented on #562
That does mean that we would be adding an extra prerequisite, right?

Having slept on it a bit, I think having a GitHub action for Markdown linting might be a more sane option. There are several benefits to it:

- It is easy to implement, as it doesn't require us to re-implement all the Markdown linting rules
- It is easy to integrate (see https://github.com/exercism/rust/blob/858a6a7cb3774ebf35c7

[2022-04-21 15:24] ee7 opened #568 "build: bump Ubuntu from 20.04 to 22.04"
Ubuntu 22.04 LTS was released today. It'll take a while for it to become available (and stable) in GitHub Actions, but I'll create this issue to track.

It uses:
- gcc 11.2
- [musl 1.2.2](https://packages.ubuntu.com/jammy/musl-dev)
- llvm 14
- binutils 2.38
- glibc 2.35

Links:
- https://discourse.ubuntu.com/t/jammy-jellyfish-release-notes/24668
- https://ubuntu.com/blog/ubuntu-22-04-lts-released

[2022-04-21 16:34] ee7 opened #569 "build: macOS: bump clang from 13.0.0"
Just a tracking issue. There's no extreme pressure to upgrade.

`macos-11` currently uses clang 13.0.0.

Links:
- https://github.com/actions/virtual-environments/blob/1e6e5cf82ee3/images/macos/macos-11-Readme.md
- https://releases.llvm.org
- https://github.com/llvm/llvm-project/releases

---

Tracking issues for C compilers on the other platforms:
- https://github.com/exercism/configlet/issues/658

[2022-04-21 16:36] ee7 opened #570 "build: Windows: bump Mingw-w64 from 8.1.0"
Just a tracking issue. There's no extreme pressure to upgrade.

`windows-2022` currently uses `Mingw-w64 8.1.0`.

Links:
- https://github.com/actions/virtual-environments/blob/1e6e5cf82ee3/images/win/Windows2022-Readme.md
- https://www.mingw-w64.org/changelog/
- https://gcc.gnu.org/releases.html
- https://gcc.gnu.org/git/gcc.git
- https://community.chocolatey.org/packages/mingw#versionhistory
- ht

[2022-04-22 16:59] ee7 commented on #562
We might be able to link it statically.

To others: note that the configlet repo has markdownlint in CI:
- https://github.com/exercism/configlet/blob/main/.github/workflows/markdownlint.yml
- https://github.com/exercism/configlet/blob/main/.markdownlint.jsonc

[2022-04-26 10:43] ee7 opened #573 "fetch-configlet: consider verifying release signature"
To verify the release, the user would need to have minisign installed. That's less onerous than it may seem, because it's tiny and much more straightforward than working with gpg.

And unless we instead upload one `.minisig` file for each release asset, we also need to be able to hash the download on the user's machine and compare it to the hash in the checksums file.

Options for fetch-configlet

[2022-04-26 11:05] ee7 opened #574 "upgrade: consider adding `configlet upgrade` command"
Running `configlet upgrade` would make configlet upgrade itself. This command existed in the configlet for Exercism v2.

For my own interest, I had a local branch with a proof-of-concept implementation of this a while ago.

But the argument against it is:
- Maintenance burden: it adds lines of code and complexity to configlet.
- It increases the size of the configlet executable.
- We already have

[2022-04-26 11:05] #574 closed, assigned to nobody

[2022-04-26 13:07] ee7 opened #575 "fetch-configlet: consider verifying release checksum"
From configlet 4.0.0-beta.1 onwards, each configlet release has a checksum file. We could make `fetch-configlet` use that file, which could improve error messages if the archive was not downloaded correctly.

Related: #573

[2022-04-26 13:50] ErikSchierboom commented on #573
I quite like option 3, but option 4 is fine for now.

[2022-05-04 12:49] ee7 opened #582 "github(workflows): consider using GITHUB_TOKEN when installing Nim"
CI failure here: https://github.com/exercism/configlet/runs/6289795298

In https://github.com/exercism/configlet/commit/58b5c03cffe7 I wrote:

although we'll now download Nim release tarballs from GitHub
(not nim-lang.org), we'll no longer be downloading `choosenim` from
GitHub.

And it might just be that I merged 3 PRs in quick succession:
- https://github.com/exercism/configlet/commit/58b5c03cff

[2022-05-04 13:33] #582 closed, assigned to nobody

[2022-05-04 13:36] ee7 opened #584 "github(workflows): consider restricting permissions of `GITHUB_TOKEN`"
Follow-up from #583

[2022-05-06 14:37] ee7 opened #588 "build: building release binary on Windows took a relatively long time"
For `4.0.0-beta.2`, the build step took 3m35s on Windows, but 26s on Linux. Both are after already installing dependencies, and compiling configlet with no compilation cache.

But for `4.0.0-beta.1` it [took 55s on Windows](https://github.com/exercism/configlet/runs/6015192031). So I think that the apparent slowness can only be caused by:
1. https://github.com/exercism/configlet/commit/50e9d6cece6

[2022-05-10 21:54] #558 closed, assigned to nobody

[2022-05-10 22:00] ee7 opened #592 "jsony: fix error message"
Originally, we used jsony as a second pass in `configlet lint` after verifying the types. So a JSON parsing error in that pass would mean that configlet had a bug in its type definitions.

However, we now use jsony elsewhere. And we want to share parsing procs where possible (fmt/info/lint/sync). But somebody who currently runs e.g. `configlet info` with a type error in their track `config.json` f

[2022-05-10 22:03] ee7 opened #593 "types: make `Slug` validation consistent"
Right now, a `slug: Slug` in `configlet sync` is guaranteed to be kebab case. But it isn't in `configlet lint`.

Follow-up from https://github.com/exercism/configlet/pull/564#pullrequestreview-961131591

This is technically a user-facing change, not just a refactoring, as `configlet` might complain earlier when a slug is not kebab case.

[2022-05-10 22:05] ee7 opened #594 "types: turn `slug: string` into `slug: Slug`"
A separate issue from #593.

Follow-up from https://github.com/exercism/configlet/pull/564

This is technically a user-facing change, not just a refactoring, as `configlet` might complain earlier when a slug is not kebab case.

[2022-05-11 07:47] ee7 opened #595 "bump_version: handle bumping prerelease kind"
I already did this when we moved to beta, but I didn't create a PR for it yet.

[2022-05-13 08:01] ee7 opened #599 "sync: cloning prob-specs can fail due to trailing slash"
Follow-up from https://github.com/exercism/crystal/pull/273#issuecomment-1125756587

It's better to remove the trailing slash regardless. I think the only place to change is in `exec.nim`.

[code]

[2022-05-13 12:31] ee7 opened #601 "lint: concept{s, exercises}: consider only warning when concept exercises are active"
Currently `configlet lint` produces an error for a problem with a Concept or a Concept Exercise, even when concept exercises are not active.

It could instead produce only a warning when e.g.:
- `status.concept_exercises` is `false` in the track `config.json` file
- or when a concept exercise has a `status` that is not `"active"`

Follow-up from https://github.com/exercism/exercism/issues/5681#iss

[2022-05-15 10:56] ee7 opened #602 "consider using concurrency/parallelism"
Configlet is currently single-threaded, and does not use `async` anywhere. This is deliberate to keep things simple - configlet is already fast enough that potential performance improvements from concurrency/parallelism are not worth the cost, and things should only get better as we continue refactoring and migrating to `jsony`.

But I'm creating this issue to document the decision and rationale,

[2022-05-15 10:56] #602 closed, assigned to nobody

[2022-05-15 11:44] ee7 opened #603 "consider improving some TOCTOU subtleties"
For example, if a user:
1. Runs `configlet sync -u --tests -e foo`
2. Waits at the prompt
3. Changes the `tests.toml` file for exercise `foo` in their track directory, e.g. adding `include = false` to a test.
4. Continues going through configlet prompts until completion

If I recall correctly, `configlet sync` still works, and ignores that the file was changed. We could document this, or consider

[2022-05-15 11:56] ee7 opened #604 "sync, info: consider using libgit2"
See:
- https://libgit2.org
- https://github.com/libgit2/libgit2
- https://libgit2.org/docs/guides/101-samples
- https://libgit2.org/docs/examples/init
- https://github.com/genotrance/nimgit2

Advantages:
- Performance: removes expensive `startProcess` of the `git` executable when creating/updating/validating the prob-specs cache.
- Portability: removes `configlet`'s run-time dependency on `git`.

[2022-05-15 11:56] #604 closed, assigned to nobody

[2022-05-15 17:12] kotp commented on #603
<dl>
  <dt>TOCTOU</dt>
  <dd>Tme Of Check to Time Of Use</dd>
</dl>

[2022-05-17 08:03] ErikSchierboom commented on #603
I'd happily not consider this edge case at all. If people are running configlet to update files, and then start editing those files whilst doing that, I don't think we need to detect that in order to provide "sane" behavior.

[2022-05-20 08:06] #599 closed, assigned to ee7

[2022-05-20 13:21] ee7 opened #607 "build: Linux: bump GCC from 10.3"
Just a tracking issue. There's no extreme pressure to upgrade.

We currently use `ubuntu-20.04` with GCC 10.3. The `ubuntu-22.04` label, which is currently in public beta, will use GCC 11 by default.

With the configlet `4.0.0-beta.3` release binary:

[code]

Links:
- https://github.com/exercism/configlet/commit/54f814cdcc76d7013c91319a8b5298f52ad3e499 #591
- https://gcc.gnu.org/gcc-11/changes.htm

[2022-05-21 16:13] ee7 opened #608 "sync: metadata: value of removed key is set to the empty string"
The `source_url` property was removed from an exercise's `metadata.toml` file. When syncing a `.meta/config.json` file that already contained the `source_url` property, the value was set to the empty string (which causes `configlet lint` to indicate an error, since an empty string is not a valid URL).

We should remove the key/value pair instead.

Links:
- https://github.com/exercism/problem-speci

[2022-05-22 06:44] ee7 opened #610 "resolve `requiresInit` warnings"
Some warnings show up when using `--mm:orc` (tracking in #190), related to the use of `requiresInit`.

I believe these warnings don't indicate user-facing incorrect behavior, and some may even go away by themselves later (or while we do more refactoring). But I haven't looked hard at them yet.

The plan is that Nim will enforce explicit initialization in the future. See [the Manual](https://nim-la

[2022-05-22 06:51] ee7 opened #611 "sync: consider linking to prob-specs commits"
When syncing, a track maintainer will often want to look at the recent changes to prob-specs to see why e.g. a test case was added or reimplemented.

Configlet could make that easier and faster by linking to the relevant commits. Now that we cache the prob-specs repo, and don't support a shallow clone of it (which we did when we had `--prob-specs-dir`), configlet has access to the entire `problem-

[2022-05-24 06:23] ErikSchierboom commented on #611
I like the idea of having more context in configlet's functionality 👍

[2022-06-01 05:06] #608 closed, assigned to ee7

[2022-06-07 12:56] verdammelt opened #613 "sync: crashes on TOML files but lint shows no problems"
Encountered this using configlet version `4.0.0-beta.4`
I run the command `configlet sync --tests --docs --metadata --filepaths` and it crashes with the following sort of error:

[code]

This is because my TOML file has lines like: `description = blah blah` rather than `description = "blah blah"`.

But `configlet lint` reports no problems.

1. Perhaps sync should not *crash* in this case?
2. Perha

[2022-06-07 13:03] ee7 commented on #613
To others: see [an example problematic `tests.toml` file](https://github.com/exercism/common-lisp/blob/f521b1fb0f04/exercises/practice/affine-cipher/.meta/tests.toml).

The problem is indeed that the file contains an unquoted string, which is invalid TOML (see [the TOML spec](https://toml.io/en/v1.0.0#string)).

However, I agree that `configlet sync` could produce a better error message, and `conf

[2022-06-10 21:59] glennj opened #615 "shell tab completions"
I've been building a track, so I've been using configlet a lot. With the plethora of subcommands and options, I figured tab completion would be handy. My shell is fish, so that's where I started.

But then I thought "how to install the completions"? How about this: add an option to `fetch-configlet` to download a shell-specific completions file, and emit instructions on how to source it into the u

[2022-06-14 06:52] ErikSchierboom commented on #615
I agree that shell completion would be handy, yes. What the actual implementation should look, I personally have no idea. But I like the idea.

[2022-06-17 10:12] #613 closed, assigned to ee7

[2022-06-17 10:24] ee7 opened #617 "sync: handle TOML parsing exception for `metadata.toml`"
Follow-up from https://github.com/exercism/configlet/pull/614.

`configlet sync` will produce an unhandled exception if the user's cached prob-specs dir contains an invalid `metadata.toml` file, or if its values are of the wrong type.

https://github.com/exercism/configlet/blob/5a2937df47fa6c9917838f1b892187bdd5f41425/src/sync/sync_metadata.nim#L21-L32

But it's unlikely that anybody notices: the

[2022-06-17 15:46] ee7 commented on #615
I'd like tab completions too, and the idea of using `fetch-configlet` to install them sounds good to me.

When running a plain `fetch-configlet`, we could also print instructions for installing the tab completions.

I'd already created issue #364 for this feature. But this issue goes into more depth, and I believe it's still not possible to move comments to another issue. So let's just use this on

[2022-06-17 18:36] glennj commented on #615
Do you want to discuss here, or in the Slack \#configlet channel?

[2022-06-23 12:47] glennj commented on #615
I propose adding a `completions/` directory to the repo, and the shell specific completion files would reside therein.

This completions directory would be added to the artifact zip/tgz file, so they are automatically downloaded and unarchived into the repo's bin/ directory:
[code]

The `fetch-configlet` script can add:
[code]

This proposal removes the need for a command-line option on the fetch-

[2022-06-23 12:49] glennj commented on #615
The fish completions look like: https://github.com/glennj/my-configs/blob/main/fish/completions/configlet.fish

[2022-06-23 12:49] glennj commented on #615
I don't know PowerShell: does it have a completion mechanism?

[2022-06-23 12:50] ErikSchierboom commented on #615
It does: https://adamtheautomator.com/powershell-tab-completion/

[2022-06-23 12:52] glennj commented on #615
@kotp you posted in the Slack channel...

[2022-06-26 09:31] wolf99 opened #622 "sync: reports "Updating tests..." when it's not"
Noticed that when using `sync` to update *documents*, the output indicates that configlet is updating tests:

[code]

Perhaps this refers to some tests other than those in the exercise?
In which case probably a re-wording of the statement could be useful.

Thanks!

[2022-06-26 14:24] ee7 commented on #622
Thanks for the opening this issue.

TL;DR: I'll suggest removing the message

---

I'll try to explain. You write

but the given command operates on the entire syncing scope (docs, filepaths, metadata, tests):

[code]

as no option to restrict the syncing scope is provided. So it's correct that configlet looks at the tests for the `crypto-square` exercise.

The "Updating tests..." message is tryin

[2022-06-28 10:14] ee7 opened #624 "markdownlint: does not run on files within hidden directory"
This doesn't matter for the configlet repo, but would be important if we added [`DavidAnson/markdownlint-cli2-action`](https://github.com/DavidAnson/markdownlint-cli2-action) to every repo (so that we do actually lint markdown files in every `.docs` directory).

[The fix is already in the tool's staging branch](https://github.com/DavidAnson/markdownlint-cli2/commit/ea0f7ccb45a677453acb19aa8e7f6096

[2022-07-01 09:12] #622 closed, assigned to ee7

[2022-07-01 09:36] ee7 commented on #75
Closed by #540, which was a better approach.

[2022-07-01 10:23] ee7 commented on #593
We can also consider e.g.

[code]

[2022-07-01 17:34] ee7 opened #626 "generate: does not combine link reference definitions at the bottom"
Consider this `.md.tpl` file:

[code]

When more than one placeholder had a link reference definition, `configlet generate` would produce something like:

[code]

That is, it would not combine link reference definitions at the bottom. It should do so - ordering by first usage, and deduplicating them:

[code]

[2022-07-01 22:51] #626 closed, assigned to ee7

[2022-07-01 22:52] ee7 opened #627 "generate: improve docs"
Also in the docs repo.

[2022-07-01 22:53] ee7 opened #628 "generate: use `libcmark`"
Follow-up to https://github.com/exercism/configlet/commit/ef65ef9bcf3ab4c8218e1356d4d9ae83ca235b26.

[2022-07-01 23:16] ee7 commented on #551
Hit this in `4.0.0-beta.5`.

The `publish-release` script for the macOS job ran within 2 seconds of the Linux one, and caused 2 draft releases to be created (one with Linux archive + Windows archive + checksum file, the other with just the macOS archive).

https://github.com/exercism/configlet/runs/7157826327
https://github.com/exercism/configlet/runs/7157826359

[code]

[code]

[2022-07-04 07:22] ErikSchierboom commented on #551
Ah, race conditions. Fun.

[2022-07-08 19:04] glennj commented on #615
@ErikSchierboom since the fetch-configlet script is distributed to all tracks, would you want

* one PR for adding the completion files to the repo and updating the build script
* a separate PR for changes to fetch-configlet

?

[2022-07-12 07:23] ErikSchierboom commented on #615
@glennj Yes, I think separate changes would make sense.

[2022-07-18 23:32] ee7 commented on #615
Sorry, I didn't have the bandwidth to think about this earlier.

@glennj @ErikSchierboom What do we think about using the approach of [`gh completion`](https://cli.github.com/manual/gh_completion)?

That is: embed the completions in the configlet binary, rather than writing extra files at extraction time. I think I'd prefer to avoid writing a `bin/completions` directory everywhere that a user runs

[2022-07-19 08:52] ErikSchierboom commented on #615
I quite like that. Seems like an elegant solution.

[2022-07-19 11:38] glennj commented on #615
Agreed. I'm curious how that'll be implemented.

[2022-07-29 15:04] ee7 opened #630 "completion: add `configlet completion` subcommand"
Follow-up from https://github.com/exercism/configlet/issues/615#issuecomment-1188435956

[2022-08-04 09:23] ee7 opened #633 "completions: add zsh"
Follow-up from https://github.com/exercism/configlet/pull/629.

[2022-08-04 09:23] ee7 opened #634 "completions: add PowerShell"
Follow-up from https://github.com/exercism/configlet/pull/629.

We have completion scripts for bash, fish, and zsh, but not PowerShell. Completion scripts for other shells are out of scope for now (https://github.com/exercism/configlet/issues/640).

[2022-08-04 09:25] ee7 opened #635 "fetch-configlet: detect user's shell and print instructions"
Follow-up from https://github.com/exercism/configlet/pull/629.

For fish, I think the instructions should advise the user to run

[code]

[2022-08-04 09:26] ee7 opened #636 "completions: make `uuid -n` expect an argument"

[2022-08-04 09:32] ee7 opened #637 "completions: suggests incorrect `-e` slugs when `-t` is used"
Each completion script cleverly suggests exercise slugs when the `-e, --exercise` option is used. However, they always search the current directory, even when the `-t, --track-dir` is used. This means that it can e.g. suggest a slug that doesn't exist in the track directory that configlet is operating on.

I guess I'll call this a "bug". Can we look at the argument of `-t` when completing the argu

[2022-08-04 09:33] ee7 opened #638 "completions: consider refactor to generate completions from internal types"
Otherwise, we have to remember to update completions when the CLI changes.

[2022-08-04 10:13] ee7 opened #639 "completions: consider refactor to use e.g. `configlet __complete`"
I don't think this is worth spending time on right now. But it might not be so hard, given that we could just steal the battle-tested completion scripts.

To illustrate the technique, let's look at how `gh completion` works:

[code]

So what happens when we run `gh completion -s bash`? It outputs a script that, instead of hard coding the completions, calls `gh __complete` internally.

For example,

[2022-08-04 10:29] ee7 opened #640 "completions: support shells that aren't bash/fish/zsh/PowerShell"
Too low impact for now.

Apologies if we have any users of newer shells like:

- [Elvish](https://elv.sh/)
- [Ion](https://doc.redox-os.org/ion-manual/)
- [Nushell](https://www.nushell.sh/)
- [Oil](https://www.oilshell.org/)
- [Xonsh](https://xon.sh/)

And older shells like:

- cmd
- tcsh
- ksh

Nice list of shells: https://github.com/oilshell/oil/wiki/Alternative-Shells

[2022-08-04 10:30] #640 closed, assigned to nobody

[2022-08-04 14:04] ee7 opened #641 "ci: consider checking the formatting of scripts"
Maybe something like:

[code]

[code]

[2022-08-04 14:27] ee7 opened #642 "completions: for `-e`, suggest only slugs that are in the `config.json` file"
Perhaps:
- if `jq` is installed, complete the slugs by parsing the track `config.json` file.
- otherwise, fall back to looking at directories in `exercises/{concept,practice}`. But note that `configlet fmt|generate|sync -e foo` won't work if `foo` isn't in the track `config.json` file.

[2022-08-04 14:35] #615 closed, assigned to nobody

[2022-08-04 15:09] ee7 commented on #615
For now, I'll propose the simple approach in #631. Pretty much just [`staticRead`](https://nim-lang.org/docs/system.html#staticRead%2Cstring) and boilerplate.

The approach with one more level of abstraction is https://github.com/exercism/configlet/issues/639. That'd also be mostly `staticRead` + boilerplate, but adding a Nim implemention of `complete` behind `configlet __complete`.

[2022-08-06 06:00] ee7 opened #646 "build: consider adding e.g. `-march=x86-64-v3`"
The `-march` and `-mtune` C compiler switches can produce significant speedups for some workloads, and some widely used Linux distributions are in the process of raising the minimum supported microarchitecture level (e.g. by compiling their packages with e.g. `-march=x86-64-v3`).

However, I am against this for configlet because:

- The speedup is a tiny (especially if it's just `x86-64-v2`), and

[2022-08-06 06:00] #646 closed, assigned to nobody

[2022-08-06 09:18] #630 closed, assigned to ee7

[2022-08-06 11:26] ee7 opened #648 "completions: add `completion` subcommand"

[2022-08-06 16:52] ee7 opened #651 "consider compressing large strings"
It's easy to compress large strings at compile time and uncompress them at run time. This isn't that useful for configlet, but we could compress at least the embedded:

- help message
- completion scripts

Right now, this would reduce the binary size by only a couple of percent at best. But it's easy, has few disadvantages, and there may be other good candidates for compression later (at least the

[2022-08-06 17:42] ee7 commented on #615
And to be more fancy, it's easy to embed compressed versions of the completion scripts. See #652.

[2022-08-08 15:16] ee7 commented on #642
I've thought of the smarter way to fix this, which avoids the dependency on `jq`.

Is there a program that can parse JSON, that we know is installed on every user's machine at configlet completion time? Yes. Configlet itself.

We could add a subcommand that we omit from the `configlet --help` message:

[code]

such that tab completion of an exercise slug:

[code]

internally calls:

[code]

which

[2022-08-09 07:17] ErikSchierboom commented on #646
Thanks for the write-up! Just for the record: I completely agree with the above reasoning.

[2022-08-09 07:40] ErikSchierboom commented on #642
That _is_ a much better option. Neat.

[2022-08-09 09:03] #636 closed, assigned to ee7

[2022-08-09 09:18] #648 closed, assigned to ee7

[2022-08-09 11:06] #651 closed, assigned to ee7

[2022-08-09 11:30] ee7 opened #654 "`nimble install` doesn't work"
[code]

Both the build workflow (which only runs on release) and the tests workflow use `nimble --accept install --depsOnly`, which does work. So it looks like this will only affect people who clone the configlet repo and then run `nimble install`.

The cause is probably https://github.com/exercism/configlet/commit/1a295da327cd1e647a7feffe0387857e787eb30b.

Reported by @ErikSchierboom

[2022-08-09 11:41] ee7 commented on #654
And if I do these steps (the second line removes the `nimcache` and `nimblecache` directories on my machine):

[code]

I get another error:

[code]

So maybe this didn't work for a while? I won't bisect right now.

I never use `nimble install` for configlet myself, so I didn't notice this.

[2022-08-10 05:25] ee7 commented on #82
We removed the `--prob-specs-dir` option in https://github.com/exercism/configlet/commit/4819f8da4f5b26d5b5ec94362f280b1003cc6cb3 - it isn't present in configlet from `4.0.0-beta.1` onwards.

And configlet doesn't currently have a similar arguably-too-abbreviated option:

[code]

So I'll close this issue.

[2022-08-11 07:20] junedev opened #655 "generate: add comment to generated files"
It would be great if the generated files could have a comment section at the top so that a contributor would hopefully see that and not edit the file manually. For newer contributors it is otherwise hard to know this.

The comment should include where to find the original content so people know where to do the edits. (No link needed, just a general explanation.)

[2022-08-13 11:37] #633 closed, assigned to ee7

[2022-08-17 10:21] #568 closed, assigned to nobody

[2022-08-17 10:21] #607 closed, assigned to nobody

[2022-08-17 10:29] ee7 opened #657 "build: bump musl from 1.2.2 (2021-01-15)"
Just a tracking issue. There's no extreme pressure to upgrade.

Links:

- https://musl.libc.org/releases.html
- https://git.musl-libc.org/cgit/musl/log/
- https://www.openwall.com/lists/musl/2022/04/07/1
- https://github.com/exercism/configlet/commit/6b6a780e2b9502418d0e69dc20bf5e6e72fb80d8 github(workflows): bump Ubuntu from 20.04 to 22.04

Possible solutions:

- **Build via `zig cc`**
- Upgrade

[2022-08-17 10:33] ee7 opened #658 "build: Linux: bump GCC from 11.2"
Just a tracking issue. There's no extreme pressure to upgrade.

We currently use `ubuntu-22.04` with GCC 11.2. GCC 12 is released, but not installed by default.

With the (upcoming) configlet `4.0.0-beta.6` release binary:

[code]

Links:
- https://gcc.gnu.org/gcc-12/changes.html
- https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2204-Readme.md
- https://packages.ubuntu

[2022-08-18 11:22] #569 closed, assigned to nobody

[2022-08-18 11:27] ee7 opened #661 "build: macOS: bump clang from 14.0.0"
Just a tracking issue. There's no extreme pressure to upgrade.

`macos-12` currently uses clang ~13.1.6~ 14.0.0 by default.

Edit: It was unexpected to me that it was silently updated in https://github.com/actions/runner-images/commit/9dcc6a79fa98209c2f605500b107b2f672ca12fc.

Links:

- https://github.com/actions/runner-images/blob/main/images/macos/macos-12-Readme.md
- https://github.com/exercism

[2022-08-21 09:22] #638 closed, assigned to nobody

[2022-08-24 05:40] ee7 commented on #548
Somewhat related: https://github.blog/changelog/2022-08-23-ssh-commit-verification-now-supported/

[2022-08-26 16:56] ErikSchierboom commented on #601
The same logic (producing warnings instead of errors) should happen for the following checks:

- Whether the track has any tags (this is especially important as new tracks' CI immediately fails without this)
- Whether the track has a `hello-world` exercise

[2022-08-27 07:51] ee7 commented on #601
I see.

Context: https://github.com/exercism/jq/pull/2#issuecomment-1228277204

[2022-08-27 14:08] ee7 commented on #548
Posting some lightly edited messages from Slack before they're made unavailable:

I think I prefer a single checksum file, because:

- Maybe it's more common
- A checksum file for each release asset means that the number of assets is roughly doubled
- A checksum file for each asset means that we also need a signature file for each checksum file, or each asset, so it actually triples the number of

[2022-09-02 07:00] #624 closed, assigned to nobody

[2022-09-24 08:22] jiegillet opened #663 "Generate: slugs with numbers break generation"
Hi!
I was trying to do the equivalent of [this PR](https://github.com/exercism/elixir/pull/1151) in the Elm track, but I ran into an issue.
We have concepts named `basics-1` and `basics-2`, which makes `configlet generate` break.

For the concept exercise `lucians-luscious-lasagna`, I wrote the `introduction.md.tpl` as

[code]

But after generation the `introduction.md` is

[code]

The culprit pro

[2022-09-27 09:10] ee7 commented on #663
Good catch - thanks.

Yes, I believe we should do this.

In `lint.md` we specify that:

and that a [kebab-case string can contain digits](https://github.com/exercism/docs/blob/ba3eba34d3343693785122742c29c1bbd33b2991/building/configlet/lint.md#glossary):

So `configlet generate` should support a concept slug that contains a digit in the placeholder.

[2022-10-04 15:08] #663 closed, assigned to ee7

[2022-10-07 13:12] ee7 opened #670 "jsony: patch to error for trailing comma"
Refs: #560

Jsony is lenient and optimized for pure speed. If we tweak it to be stricter, I believe we can stop parsing with `std/json`, move all our checks to a post-`jsony` pass, and remove our forks of `std/json` and `std/parsejson`.

[2022-10-09 10:13] ErikSchierboom opened #673 "sync: can't sync everything including tests"
If I run `configlet sync --update --yes --docs --filepaths --metadata --tests include` I get an error message stating that "but the tests updating mode is still 'choose'", which is incorrect. This makes using configlet sync less ergonomic, and I'd really like to see this fixed.

[2022-10-11 12:17] kytrinyx opened #675 "create: New command to set up a new exercise/approach/etc"
From the perspective of someone using configlet to help bootstrap a track, it would be helpful to have a command that takes the `--exercise` argument and assumes that you have not done anything yet to start working on that exercise.

Maybe `configlet init --exercise two-fer` or `configlet bootstrap --type practice --exercise two-fer` or something like that.

It would do something like:
- write an

[2022-10-11 12:27] ee7 opened #676 "sync: sync `title` from `metadata.toml` to `exercises.practice.name` in track `config.json`"
Follow-up from https://github.com/exercism/problem-specifications/pull/2122#issuecomment-1274434445

[2022-10-11 13:52] #673 closed, assigned to ee7

[2022-10-12 07:01] ErikSchierboom opened #677 "sync: include `scenarios` in `tests.toml` file"
The `scenarios` key is used in prob-specs to identify test cases that some tracks might not want to implement. Examples being dealing with big integers or error handling. It would be really helpful if the `tests.toml` would include the `scenarios`.

[2022-10-12 10:14] ErikSchierboom commented on #675
Or maybe `configlet new`? I would love this feature.

[2022-10-23 19:42] serialhex opened #683 "configlet shouldn't *REQUIRE* internet access"
I had some time to do a few things with a track, but no internet access.  I had run this command the day before, but upon running it configlet crashes.  I was able to set up a hotspot really quickly but, really, it shouldn't *need* internet access for something like this. Issue a warning that 'problem-specifications' might not be up to date?  Sure!  But fail completely?  Absolutely not.

The exact

[2022-10-23 19:49] serialhex commented on #683
Just went through the docs and there is an `-o` option for offline stuff, but IMHO it should work (again, with warnings) without this flag.  Feel free to close this if the powers-that-be feel this is unnecessary.

[2022-10-23 20:38] ee7 commented on #683
Thanks for creating this issue. Sorry for the inconvenience.

I think we really do want `configlet sync` to exit immediately with an error if it couldn't fetch the latest `problem-specifications` data and `--offline` was not passed. `configlet sync` is used in scripts, and will eventually be used in track CI, and in automated PRs that update exercises - it shouldn't have the potential to quietly b

[2022-10-24 12:44] serialhex commented on #683
That sounds great!  It was only in looking up other things I noticed the `-o` flag, and I've been burned too many times with software that *needs* internet access for *no good reason* that I mistakenly assumed something like that wasn't there.  Thank you @ee7!

[2022-10-24 12:57] ee7 commented on #683
Great. Thanks again for reporting the problem.

I'll re-open this issue so that it'll be closed automatically when we merge #684.

Me too. Being able to use `configlet` offline is important to me.

There was already a good error message for the more obscure situation of "no prob-specs cache, but `--offline` was passed":

[code]

But configlet didn't cover the case reported in this issue. And there

[2022-10-24 13:12] ee7 opened #685 "sync: warn that syncing docs or tests alone may be problematic"
We should draw more attention to the fact that, when an exercise has outdated docs and tests, updating only one of them is not guaranteed to be safe. Arguably, the design of `configlet sync`, with separate `--docs` and `--tests` options, implies that it is.

For example, see these `roman-numerals` PRs that update independently:

- https://github.com/exercism/common-lisp/pull/676#pullrequestreview-

[2022-10-24 13:58] glennj commented on #637
Here's an example of a fish completion that respects previous args: https://unix.stackexchange.com/questions/722020/fish-completion-that-depends-on-other-flags

But as we're thinking about getting configlet itself to handle completions, this issue is no longer about fish/bash/zsh

[2022-10-25 10:47] ee7 opened #686 "completions: `uuid -n`: suggest integers"
Follow-up from https://github.com/exercism/configlet/pull/643#issuecomment-1209105189

Very low priority.

[2022-10-25 10:57] ee7 commented on #637
Thanks. For the fish completions I have this lying around in a branch from a couple of months ago:

[code]

which may or may not work. I didn't try the bash or zsh version, and yes, it might not be worth spending the time on, given:

To others: Glenn is referring to https://github.com/exercism/configlet/issues/642#issuecomment-1208263475.

Yes, I still think that's the most elegant way to handle c

[2022-10-25 12:08] ee7 commented on #675
I don't have an opinion on the name yet, but we might also consider `configlet create`.

[2022-10-25 12:14] ee7 opened #687 "sync: consider a mass PR to exclude later-reimplemented tests"
Issue https://github.com/exercism/configlet/issues/297 will be closed soon, but it won't fix problems that I imagine will have already reached track repos. We can either:

1. Not make `configlet sync` fix them, and do a mass PR.
2. Not make `configlet sync` fix them, and not do a mass PR. Rely on maintainers to add `include = false` where appropriate.
3. Make `configlet sync` fix them, but do a ma

[2022-10-25 12:30] kytrinyx commented on #675
I don't feel strongly about any of the names; I think they all describe what we want well, and with the `--exercise` flag we wouldn't be confused about what type of thing it's acting on.

I have a _slight_ preference for using a verb-like name, since `sync` and `lint` are both verbs. And `fmt` sort of is a verb, given that it stands for `format`.

[2022-10-26 06:04] ErikSchierboom commented on #675
@kytrinyx So `create` over `new`?

[2022-10-26 07:06] kytrinyx commented on #675
@ErikSchierboom Yeah, I would prefer `create` (or `bootstrap` or `init`). I think `create` makes the most sense, having slept on it some more.

[2022-10-26 07:07] ErikSchierboom commented on #675
Okay. Let's go with `create` then.

[2022-10-26 11:13] kytrinyx commented on #687
My preference would be to do a mass PR to fix them first, and then release the new configlet build.

I am happy to do the mass PR thing. Would you be able to give me a pre-built configlet that has the behavior I'd need to make the PR?

[2022-10-26 11:49] kytrinyx opened #688 "Feature request: listing exercises that match a set of statuses"
The TL;DR is that I'd like a standardized way of listing out all exercises that are `beta` or `active` so that CI test scripts can ignore exercises that are deprecated or `wip`.

Right now I don't think CI has a default/standard tool that lets us process JSON, but all tracks have Configlet on CI.

If we had a way of getting just a list of active exercises, then the tracks could use that as input t

[2022-10-26 12:08] ee7 commented on #688
Could be handled by `configlet info`.

I'll reply more later, but I'll just quickly point out that for:

`jq` is always installed in the GitHub Actions environment.

Sources of truth:

- [`ubuntu-22.04`](https://github.com/actions/runner-images/blob/ab0d910edc25c43ee6b2d71a25444f34f7c1574a/images/linux/Ubuntu2204-Readme.md#tools)
- [`macos-12`](https://github.com/actions/runner-images/blob/ab0d910

[2022-10-26 12:22] ee7 commented on #688
As a starter, the below gets the practice exercise slugs that lack the `status` key. Just needs to include `status` of `beta` or explicit `active` too.

[code]

[2022-10-26 12:43] kytrinyx commented on #688
Oh, if we have jq, that solves it for me, I think!

[2022-10-26 17:52] ee7 commented on #688
It could still be nice to have a command like:

[code]

So instead of using `jq` we could write something like:

[code]

But not a high priority for now, I think.

[2022-10-26 18:00] kytrinyx commented on #688
Agreed, definitely a nice to have, but having `jq` unblocks my use case. 👍

[2022-10-27 17:21] ee7 opened #693 "tests: sync: change diff command to add lines of context"
Follow-up from https://github.com/exercism/configlet/pull/680

[2022-10-27 19:43] ee7 opened #694 "sync: consider ignoring a deprecated concept exercise with unsynced filepaths"
Follow-up to https://github.com/exercism/configlet/pull/682#discussion_r999002345

[2022-10-27 19:48] ee7 opened #695 "sync: consider adding an option to sync deprecated exercises"
Since https://github.com/exercism/configlet/commit/891c626bbb41e8153351f0a5f298ad5ec1cc95d8 (#682), `configlet sync` no longer checks or updates a practice exercise that is deprecated on the track.

We might consider:

- Making `--verbosity detailed` mention the unsynced deprecated exercise
- Allowing explicit syncing via `--exercise foo`
- Adding a `--with-deprecated` option or similar

But we mi

[2022-10-27 20:44] #683 closed, assigned to ee7

[2022-10-28 09:08] ee7 opened #696 "ensure that every `CatchableError` is caught"

[2022-10-28 11:03] ee7 opened #698 "refactor: consider using `Result` type"
Pros: can enforce that every error is handled, and see that at the callsite
Cons: may not worth the added noise, and can make exceptions visible with just `{.raises: [FooError].}`

Links:

- https://github.com/arnetheduck/nim-result/
- https://github.com/status-im/nim-stew/blob/f2e58ba4c8da65548c824e4fa8732db9739f6505/stew/results.nim
- https://github.com/status-im/questionable
- https://status-im

[2022-10-28 11:52] #696 closed, assigned to ee7

[2022-10-31 21:57] ee7 opened #703 "fetch-configlet.ps1: print something on success"
Follow-up from the same issue for the bash script (https://github.com/exercism/configlet/issues/459), which was closed by https://github.com/exercism/configlet/commit/5f5b54d62d7677f8d4a179e2331a8bda722e1cf8.

[2022-11-17 09:55] ee7 commented on #675
Possible design:

[code]

where, trying to be similar to `configlet sync -u`:

- a plain `configlet create` interactively asks the user what they want to create
- `configlet create --practice-exercise` without `-y` asks the user to confirm
- `configlet create --practice-exercise -y` is non-interactive
- omitting `--offline` means that it may update the prob-specs cache if appropriate

Thoughts?

[2022-11-17 10:06] kytrinyx commented on #675
This looks excellent. I like the parallel structure to `sync`.

For a practice exercise, would we then call `configlet sync` manually afterward, or would this do it for you?

[2022-11-17 10:58] ee7 commented on #675
We'd have to think a bit, but maybe something like:

- If the user says they want to create a practice exercise
- but does not pass `-o, -offline`
- then configlet updates the prob-specs cache before writing files, because `create` should probably create an exercise `.meta/config.json`, and for a practice exercise that file contains metadata from prob-specs. Updating the cache means we create it w

[2022-11-17 11:29] kytrinyx commented on #675
I'm also leaning towards leaving `create` and `sync` separate.

[2022-11-17 12:04] ee7 commented on #675
Should `configlet` ever learn how to run a track's test generator? Otherwise, the process is like this:

- `configlet create`
- `configlet sync --update`
- `./bin/generate-tests`

[2022-11-17 14:23] kytrinyx commented on #675
I'm leaning towards "no" at the moment. I've been doing some work on language-agnostic generators lately, and my sense is that we'd be better served by incrementally tweaking `configlet` to make generator stuff work more smoothly.

I might change my mind down the line, but at the moment generators are a bit murky and messy, so I don't want to jump the gun and have `configlet` do things that we're

[2022-11-17 14:56] ee7 commented on #675
I was leaning that way too. I think otherwise we'd want a spec for generators, possibly with some configuration in the track `config.json` file.

[2022-11-18 09:09] ErikSchierboom commented on #675
I'd also prefer configlet to be generator agnostic.